
<h2>Monthly Reports</h2>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>R01 completers</th>
      <th>R02 starters</th>
      <th>Recruited</th>
      <th>R01 completers : R02 starters Ratio</th>
      <th>R02 starters : Recruited Ratio</th>
      <th>R01 completers : Recruited Ratio</th>
    </tr>
  </thead>

  <% monthly_r1_completer =  @monthly_figures.sum(:R01_Completers) %>
  <% monthly_r2_starters = @monthly_figures.sum(:R02_Starters) %>
  <% monthly_recruited = @monthly_figures.sum(:Recruited) %>
  <% monthly_signup_to_start = @monthly_figures.sum(:R01_Completes_To_R02_Starters_Ratio) %>
  <% monthly_start_to_complete = @monthly_figures.sum(:R02_Starters_To_Recruited_Ratio) %>
  <% monthly_complete_to_signup = @monthly_figures.sum(:R01_Completers_To_Recruited_Ratio) %>
  <% quarter_r1_completer =  @quarter_figures.sum(:R01_Completers) %>
  <% quarter_r2_starters = @quarter_figures.sum(:R02_Starters) %>
  <% quarter_recruited = @quarter_figures.sum(:Recruited) %>


  <%  def ratios(val1, val2)
      if val1.nonzero?.nil? || val2.nonzero?.nil?
        return 0
      end
      val3 = (val1.to_f / val2.to_f).round(2)
      val3 * 100

    end
     %>


  <tbody>

    <tr>
      <td>January 2019</td>
      <td>16875</td>
      <td>13392</td>
      <td>8351</td>
      <td>79.0%</td>
      <td>62.0%</td>
      <td>49.0%</td>
    </tr>


        <tr>
          <td>Febuary 2019</td>
          <td>5890</td>
          <td>4959</td>
          <td>3250</td>
          <td>84.0%</td>
          <td>65.0%</td>
          <td>55.0%</td>
        </tr>

    <tr>
      <td>March 2019</td>
      <td>5619</td>
      <td>4688</td>
      <td>3179</td>
      <td>83.0%</td>
      <td>67.0%</td>
      <td>56.0%</td>
    </tr>


    <tr>
      <td>April 2019</td>
      <td>5364</td>
      <td>4508</td>
      <td>2876</td>
      <td>84.0%

      </td>
      <td>63.0</td>
      <td>53.0%</td>
    </tr>

    <tr>
      <td>May 2019</td>
      <td>2078</td>
      <td>1699</td>
      <td>962</td>
      <td>81.85%

      </td>
      <td>56.0% </td>
      <td>46.0% </td>
    </tr>

    <tr>
      <td>June 2019</td>
      <td>4557</td>
      <td>3849</td>
      <td>2267</td>
      <td>84.0%

      </td>
      <td>58.0% </td>
      <td>49.0% </td>
    </tr>
    <tr>
      <td>July 2019</td>
      <td>2982</td>
      <td>2462</td>
      <td>1256</td>
      <td>82.0%

      </td>
      <td>51.0%</td>
      <td>42.0%</td>
    </tr>



    <tr>
      <td>August 2019</td>
      <td>5154</td>
      <td>4158</td>
      <td>2693</td>
      <td>80.0%

      </td>
      <td>64.0% </td>
      <td>52.0%</td>
    </tr>

    <tr>
      <td>September 2019</td>
      <td>17403</td>
      <td>14449</td>
      <td>9662</td>
      <td>83.0%

      </td>
      <td>66.0%</td>
      <td>55.0% </td>
    </tr>

    <tr>
      <td>October 2019</td>
      <td>17974</td>
      <td>15038</td>
      <td>8931</td>
      <td>83.0%

      </td>
      <td>59.0% </td>
      <td>49.0%</td>
    </tr>

    <tr>
      <td>November 2019</td>
      <td>24648</td>
      <td>20392</td>
      <td>11719</td>
      <td>82.0%

      </td>
      <td>57.0% </td>
      <td>47.0% </td>
    </tr>

    <tr>
      <td>December 2019</td>
      <td>10806</td>
      <td>8664</td>
      <td>4841</td>
      <td>80.0%

      </td>
      <td>55.0% </td>
      <td>44.0% </td>
    </tr>


    <tr>
      <td>January 2020</td>
      <td>16356</td>
      <td>9310</td>
      <td>6396</td>
      <td>56.0%

      </td>
      <td>68.0% </td>
      <td>40.0% </td>
    </tr>


    <tr>
      <td>Febuary 2020</td>
      <td>5138</td>
      <td>5553</td>
      <td>3782</td>
      <td>108.0%

      </td>
      <td>68.0% </td>
      <td>73.0% </td>
    </tr>


    <tr>
      <td>March 2020</td>
      <td>8699</td>
      <td>6737</td>
      <td>4271</td>
      <td>74.0%

      </td>
      <td>63.0% </td>
      <td>49.0% </td>
    </tr>



    <tr>
      <td>April 2020</td>
      <td>9853</td>
      <td>8474</td>
      <td>4247</td>
      <td>86.0%

      </td>
      <td>50.0% </td>
      <td>43.0% </td>
    </tr>


    <tr>
      <td>May 2020</td>
      <td>8310</td>
      <td>6937</td>
      <td>3724</td>
      <td>83.0%

      </td>
      <td>50.0%</td>
      <td>53.0%</td>
    </tr>


        <tr>
          <td>June 2020</td>
          <td>4454</td>
          <td>4328</td>
          <td>3008</td>
          <td>97.0%

          </td>
          <td>92.0%</td>
          <td>67.0%</td>
        </tr>


        <% @monthly_figures.count.keys.each do |key| %>
          <tr>
            <td><%= key %></td>
            <% r1_completer = monthly_r1_completer[key] %>
            <% r2_starters = monthly_r2_starters[key] %>
            <% recruited = monthly_recruited[key] %>
            <% start_ratio = monthly_signup_to_start[key] %>
            <% begin_ratio = monthly_start_to_complete[key] %>
            <% complete_ratio = monthly_complete_to_signup[key] %>

            <td><%= r1_completer %></td>
            <td><%= r2_starters%></td>
            <td><%= recruited %></td>
            <td><%= ratios(r2_starters, r1_completer) %>%
            </td>
            <td><%= ratios(recruited, r2_starters) %>%
            </td>
            <td><%= ratios(recruited, r1_completer) %>%

            </td>
          </tr>
        <% end %>


  </tbody>
</table>

<br>
<br>
<br>

<h2>Quarterly Reports</h2>

<table>
  <thead>
    <tr>
      <th>Quarter</th>
      <th>R01 completers</th>
      <th>R02 starters</th>
      <th>Recruited</th>
      <th>R01 completers : R02 starters Ratio</th>
      <th>R02 starters : Recruited Ratio</th>
      <th>R01 completers : Recruited Ratio</th>
    </tr>
  </thead>
<tbody>

  <tr>
    <td>Q1 2019</td>
    <td>28384</td>
    <td>23039</td>
    <td>14774</td>
    <td>81.0%

    </td>
    <td>64.0% </td>
    <td>52.0% </td>
  </tr>


  <tr>
    <td>Q2 2019</td>
    <td>11999</td>
    <td>10056</td>
    <td>6105</td>
    <td>84.0%

    </td>
    <td>60.0% </td>
    <td>50.0% </td>
  </tr>


  <tr>
    <td>Q3 2019</td>
    <td>25539</td>
    <td>21069</td>
    <td>13611</td>
    <td>82.0%

    </td>
    <td>64.0% </td>
    <td>53.0% </td>
  </tr>

  <tr>
    <td>Q4 2019</td>
    <td>53428</td>
    <td>44094</td>
    <td>25491</td>
    <td>82.0%

    </td>
    <td>57.0% </td>
    <td>47.0% </td>
  </tr>

  <tr>
    <td>Q1 2020</td>
    <td>30193</td>
    <td>21600</td>
    <td>14454</td>
    <td>71.0%

    </td>
    <td>66.0%</td>
    <td>47.0%</td>
  </tr>

  <tr>
    <td>Q2 2020</td>
    <td>22617</td>
    <td>19739</td>
    <td>10979</td>
    <td>87.0%

    </td>
    <td>55.0%</td>
    <td>48.0%</td>
  </tr>

  <% @quarter_figures.count.keys.each do |key| %>
    <tr>
      <td><%= key %></td>
      <% r1_completer_quarter = quarter_r1_completer[key] %>
      <% r2_starters_quarter = quarter_r2_starters[key] %>
      <% recruited_quarter = quarter_recruited[key] %>


      <td><%= r1_completer_quarter %></td>
      <td><%= r2_starters_quarter%></td>
      <td><%= recruited_quarter %></td>
      <td><%= ratios(r2_starters_quarter, r1_completer_quarter) %>%
      </td>
      <td><%= ratios(recruited_quarter, r1_completer_quarter) %>%
      <td><%= ratios(recruited_quarter, r1_completer_quarter) %>%  

      </td>
    </tr>
  <% end %>

</tbody>
</table>
