
<h2>Monthly Reports</h2>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>R01 completers</th>
      <th>R02 starters</th>
      <th>Recruited</th>
      <th>R01 completers : R02 starters Ratio</th>
      <th>R02 starters : Recruited Ratio</th>
      <th>R01 completers : Recruited Ratio</th>
    </tr>
  </thead>

  <% monthly_r1_completer =  @monthly_figures.sum(:R01_Completers) %>
  <% monthly_r2_starters = @monthly_figures.sum(:R02_Starters) %>
  <% monthly_recruited = @monthly_figures.sum(:Recruited) %>
  <% monthly_signup_to_start = @monthly_figures.sum(:R01_Completes_To_R02_Starters_Ratio) %>
  <% monthly_start_to_complete = @monthly_figures.sum(:R02_Starters_To_Recruited_Ratio) %>
  <% monthly_complete_to_signup = @monthly_figures.sum(:R01_Completers_To_Recruited_Ratio) %>


  <tbody>

    <tr>
      <td>January 2019</td>
      <td>16875</td>
      <td>13392</td>
      <td>8351</td>
      <td>79.44%<meter value="83" min="0" max="100"></meter></td>
      <td>62.42% <meter value="64" min="0" max="100"></meter></td>
      <td>49.38% <meter value="56" min="0" max="100"></meter></td>
    </tr>


        <tr>
          <td>Febuary 2019</td>
          <td>5890</td>
          <td>4959</td>
          <td>3250</td>
          <td>84.24%<meter value="84" min="0" max="100"></meter></td>
          <td>65.51% <meter value="65" min="0" max="100"></meter></td>
          <td>55.22% <meter value="55" min="0" max="100"></meter></td>
        </tr>

    <tr>
      <td>March 2019</td>
      <td>5619</td>
      <td>4688</td>
      <td>3179</td>
      <td>83.64%<meter value="83" min="0" max="100"></meter></td>
      <td>67.71% <meter value="64" min="0" max="100"></meter></td>
      <td>56.78% <meter value="56" min="0" max="100"></meter></td>
    </tr>


    <tr>
      <td>April 2019</td>
      <td>5364</td>
      <td>4508</td>
      <td>2876</td>
      <td>84.00%
        <meter value="84" min="0" max="100"></meter>
      </td>
      <td>63.81% <meter value="62" min="0" max="100"></meter></td>
      <td>53.60% <meter value="53" min="0" max="100"></meter></td>
    </tr>

    <tr>
      <td>May 2019</td>
      <td>2078</td>
      <td>1699</td>
      <td>962</td>
      <td>81.85%
        <meter value="81" min="0" max="100"></meter>
      </td>
      <td>56.63% <meter value="56" min="0" max="100"></meter></td>
      <td>46.64% <meter value="46" min="0" max="100"></meter></td>
    </tr>

    <tr>
      <td>June 2019</td>
      <td>4557</td>
      <td>3849</td>
      <td>2267</td>
      <td>84.55%
        <meter value="84" min="0" max="100"></meter>
      </td>
      <td>58.93% <meter value="58" min="0" max="100"></meter></td>
      <td>49.74% <meter value="49" min="0" max="100"></meter></td>
    </tr>
    <tr>
      <td>July 2019</td>
      <td>2982</td>
      <td>2462</td>
      <td>1256</td>
      <td>82.66%
        <meter value="82" min="0" max="100"></meter>
      </td>
      <td>51.18% <meter value="51" min="0" max="100"></meter></td>
      <td>42.18% <meter value="42" min="0" max="100"></meter></td>
    </tr>



    <tr>
      <td>August 2019</td>
      <td>5154</td>
      <td>4158</td>
      <td>2693</td>
      <td>80.66%
        <meter value="80" min="0" max="100"></meter>
      </td>
      <td>64.88% <meter value="64" min="0" max="100"></meter></td>
      <td>52.38% <meter value="52" min="0" max="100"></meter></td>
    </tr>

    <tr>
      <td>September 2019</td>
      <td>17403</td>
      <td>14449</td>
      <td>9662</td>
      <td>83.06%
        <meter value="83" min="0" max="100"></meter>
      </td>
      <td>66.98% <meter value="66" min="0" max="100"></meter></td>
      <td>55.55% <meter value="55" min="0" max="100"></meter></td>
    </tr>

    <tr>
      <td>October 2019</td>
      <td>17974</td>
      <td>15038</td>
      <td>8931</td>
      <td>83.66%
        <meter value="83" min="0" max="100"></meter>
      </td>
      <td>59.38% <meter value="59" min="0" max="100"></meter></td>
      <td>49.68% <meter value="49" min="0" max="100"></meter></td>
    </tr>

    <tr>
      <td>November 2019</td>
      <td>24648</td>
      <td>20392</td>
      <td>11719</td>
      <td>82.73%
        <meter value="82" min="0" max="100"></meter>
      </td>
      <td>57.54% <meter value="57" min="0" max="100"></meter></td>
      <td>47.58% <meter value="47" min="0" max="100"></meter></td>
    </tr>

    <tr>
      <td>December 2019</td>
      <td>10806</td>
      <td>8664</td>
      <td>4841</td>
      <td>80.17%
        <meter value="82" min="0" max="100"></meter>
      </td>
      <td>55.87% <meter value="55" min="0" max="100"></meter></td>
      <td>44.75% <meter value="44" min="0" max="100"></meter></td>
    </tr>


    <tr>
      <td>January 2020</td>
      <td>16356</td>
      <td>9310</td>
      <td>6396</td>
      <td>56.95%
        <meter value="56" min="0" max="100"></meter>
      </td>
      <td>68.77% <meter value="68" min="0" max="100"></meter></td>
      <td>40.75% <meter value="40" min="0" max="100"></meter></td>
    </tr>


    <tr>
      <td>Febuary 2020</td>
      <td>5138</td>
      <td>5553</td>
      <td>3782</td>
      <td>108.74%
        <meter value="100" min="0" max="100"></meter>
      </td>
      <td>68.10% <meter value="68" min="0" max="100"></meter></td>
      <td>73.61% <meter value="43" min="0" max="100"></meter></td>
    </tr>


    <tr>
      <td>March 2020</td>
      <td>8699</td>
      <td>6737</td>
      <td>4271</td>
      <td>74.44%
        <meter value="74" min="0" max="100"></meter>
      </td>
      <td>63.39% <meter value="63" min="0" max="100"></meter></td>
      <td>49.09% <meter value="49" min="0" max="100"></meter></td>
    </tr>



    <tr>
      <td>April 2020</td>
      <td>9853</td>
      <td>8474</td>
      <td>4247</td>
      <td>86.00%
        <meter value="86" min="0" max="100"></meter>
      </td>
      <td>50.11% <meter value="50" min="0" max="100"></meter></td>
      <td>43.10% <meter value="43" min="0" max="100"></meter></td>
    </tr>


    <tr>
      <td>May 2020</td>
      <td>8310</td>
      <td>6937</td>
      <td>3724</td>
      <td>83.34%
        <meter value="83" min="0" max="100"></meter>
      </td>
      <td>50.11% <meter value="50" min="0" max="100"></meter></td>
      <td>53.55% <meter value="43" min="0" max="100"></meter></td>
    </tr>


        <tr>
          <td>June 2020</td>
          <td>4454</td>
          <td>4328</td>
          <td>3008</td>
          <td>97.17%
            <meter value="97" min="0" max="100"></meter>
          </td>
          <td>92.61% <meter value="92" min="0" max="100"></meter></td>
          <td>67.53% <meter value="67" min="0" max="100"></meter></td>
        </tr>


        <% @monthly_figures.count.keys.each do |key| %>
          <tr>
            <td><%= key %></td>
            <% r1_completer = monthly_r1_completer[key] %>
            <% r2_starters = monthly_r2_starters[key] %>
            <% recruited = monthly_recruited[key] %>
            <% start_ratio = monthly_signup_to_start[key] %>
            <% begin_ratio = monthly_start_to_complete[key] %>
            <% complete_ratio = monthly_complete_to_signup[key] %>

            <td><%= r1_completer %></td>
            <td><%= r2_starters%></td>
            <td><%= recruited %></td>
            <td><%= ratios(r2_starters,r1_completer) %>%
            </td>
            <td><%= ratios(recruited,r2_starters) %>%
            </td>
            <td><%= ratios(recruited,r1_completer) %>%

            </td>
          </tr>
        <% end %>


  </tbody>
</table>

<br>
<br>
<br>

<h2>Quarterly Reports</h2>

<table>
  <thead>
    <tr>
      <th>Quarter</th>
      <th>R01 completers</th>
      <th>R02 starters</th>
      <th>Recruited</th>
      <th>R01 completers : R02 starters Ratio</th>
      <th>R02 starters : Recruited Ratio</th>
      <th>R01 completers : Recruited Ratio</th>
    </tr>
  </thead>
<tbody>

  <tr>
    <td>Q1 2019</td>
    <td>28384</td>
    <td>23039</td>
    <td>14774</td>
    <td>81.23%
      <meter value="81" min="0" max="100"></meter>
    </td>
    <td>64.11% <meter value="64" min="0" max="100"></meter></td>
    <td>52.13% <meter value="52" min="0" max="100"></meter></td>
  </tr>


  <tr>
    <td>Q2 2019</td>
    <td>11999</td>
    <td>10056</td>
    <td>6105</td>
    <td>84.80%
      <meter value="84" min="0" max="100"></meter>
    </td>
    <td>60.54% <meter value="61" min="0" max="100"></meter></td>
    <td>50.83% <meter value="52" min="0" max="100"></meter></td>
  </tr>


  <tr>
    <td>Q3 2019</td>
    <td>25539</td>
    <td>21069</td>
    <td>13611</td>
    <td>82.54%
      <meter value="82" min="0" max="100"></meter>
    </td>
    <td>64.66% <meter value="64" min="0" max="100"></meter></td>
    <td>53.37% <meter value="53" min="0" max="100"></meter></td>
  </tr>

  <tr>
    <td>Q4 2019</td>
    <td>53428</td>
    <td>44094</td>
    <td>25491</td>
    <td>82.52%
      <meter value="82" min="0" max="100"></meter>
    </td>
    <td>57.89% <meter value="57" min="0" max="100"></meter></td>
    <td>47.77% <meter value="47" min="0" max="100"></meter></td>
  </tr>

  <tr>
    <td>Q1 2020</td>
    <td>30193</td>
    <td>21600</td>
    <td>14454</td>
    <td>71.53%
      <meter value="71" min="0" max="100"></meter>
    </td>
    <td>66.91% <meter value="66" min="0" max="100"></meter></td>
    <td>47.86% <meter value="47" min="0" max="100"></meter></td>
  </tr>

  <tr>
    <td>Q2 2020</td>
    <td>22617</td>
    <td>19739</td>
    <td>10979</td>
    <td>87.27%
      <meter value="87" min="0" max="100"></meter>
    </td>
    <td>55.62% <meter value="55" min="0" max="100"></meter></td>
    <td>48.54% <meter value="48" min="0" max="100"></meter></td>
  </tr>



</tbody>
</table>
