<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>R01 completers</th>
      <th>R02 starters</th>
      <th>Recruited</th>
      <th>R01 completers : R02 starters Ratio</th>
      <th>R02 starters : Recruited Ratio</th>
      <th>R01 completers : Recruited Ratio</th>
    </tr>
  </thead>

  <% monthly_r1_completer =  @monthly_figures.sum(:R01_Completers) %>
  <% monthly_r2_starters = @monthly_figures.sum(:R02_Starters) %>
  <% monthly_recruited = @monthly_figures.sum(:Recruited) %>

  <tbody>
    <% @monthly_figures.count.keys.each do |key| %>
      <tr>
        <td><%= key %></td>
        <% r1_completer = monthly_r1_completer[key] %>
        <% r2_starters = monthly_r2_starters[key] %>
        <% recruited = monthly_recruited[key] %>

        <td><%= r1_completer %></td>
        <td><%= r2_starters + recruited %></td>
        <td><%= recruited %></td>
        <td><%= r1_completer.zero? ? 0 : (r2_starters/ r1_completer).round(2) *100 %>%
        </td>
        <td><%= r2_starters.zero? ? 0 : (r2_starters/ recruited).round(2) *100 %>%
        </td>
        <td><%= r1_completer.zero? ? 0 : (recruited/ r1_completer).round(2) *100 %>%

        </td>
      </tr>
    <% end %>

    <tr>
      <td>October 2019</td>
      <td>17974</td>
      <td>15038</td>
      <td>9667</td>
      <td>86.66%
        <meter value="86" min="0" max="100"></meter>
      </td>
      <td>64.28% <meter value="64" min="0" max="100"></meter></td>
      <td>53.78% <meter value="53" min="0" max="100"></meter></td>
    </tr>

  </tbody>
</table>
