<table style="width:100%">
  <!--  headers row-->
  <tr>
    <th></th>

      <th colspan="6">Youths</th>

      <th colspan="6">Applicants</th>


      <th colspan="6">Students</th>


      <th colspan="6">Graduates</th>

    <th colspan="6">Total</th>
  </tr>
  <!--  row for month-->
  <tr>
    <td>Source</td>

      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>Total</td>

    <td>Organic</td>
    <td>UCAS</td>
    <td>Facebook</td>
    <td>Money Magpie</td>
    <td>Save The Student</td>
    <td>Total</td>
  </tr>

  <% total_month_keys = @monthly_raw_recruitment.keys %>
  <% youths = @raw_recruitment.youths %>
  <% applicants = @raw_recruitment.applicants %>
  <% students = @raw_recruitment.students %>
  <% graduates = @raw_recruitment.graduates %>
  <% organic_raw_recruitment_count = @raw_recruitment.organic.size %>
  <% ucas_raw_recruitment_count = @raw_recruitment.ucas.size %>
  <% facebook_raw_recruitment_count = @raw_recruitment.facebook.size %>
  <% money_magpie_raw_recruitment_count = @raw_recruitment.money_magpie.size %>
  <% save_the_student_raw_recruitment_count = @raw_recruitment.save_the_student.size %>
  <% raw_recruitment_count = @raw_recruitment.size %>

    <% organic_youth_count = youths.organic.size %>
    <% ucas_youth_count = youths.ucas.size %>
    <% facebook_youth_count = youths.facebook.size %>
    <% money_magpie_youth_count = youths.money_magpie.size %>
    <% save_the_student_youth_count = youths.save_the_student.size %>
    <% youth_count = youths.size %>



    <% organic_applicants_count = applicants.organic.size %>
    <% ucas_applicants_count = applicants.ucas.size %>
    <% facebook_applicants_count = applicants.facebook.size %>
    <% money_magpie_applicants_count = applicants.money_magpie.size %>
    <% save_the_student_applicants_count = applicants.save_the_student.size %>
    <% applicants_count = applicants.size %>



    <% organic_students_count = students.organic.size %>
    <% ucas_students_count = students.ucas.size %>
    <% facebook_students_count = students.facebook.size %>
    <% money_magpie_students_count = students.money_magpie.size %>
    <% save_the_student_students_count = students.save_the_student.size %>
    <% students_count = students.size %>



    <% organic_graduates_count = graduates.organic.size %>
    <% ucas_graduates_count = graduates.ucas.size %>
    <% facebook_graduates_count = graduates.facebook.size %>
    <% money_magpie_graduates_count = graduates.money_magpie.size %>
    <% save_the_student_graduates_count = graduates.save_the_student.size %>
    <% graduates_count = graduates.size %>


  <!--  row for total-->
  <tr>
    <td>TOTAL</td>

    <b>  <td><%= organic_youth_count %></td> </b>
    <b>  <td><%= ucas_youth_count %></td></b>
    <b>  <td><%= facebook_youth_count %></td></b>
    <b>  <td><%= money_magpie_youth_count %></td></b>
    <b>  <td><%= save_the_student_youth_count %></td></b>
    <b>  <td><%= youth_count %></td></b>


    <b>  <td><%= organic_applicants_count %></td></b>
    <b>  <td><%= ucas_applicants_count %></td></b>
    <b>  <td><%= facebook_applicants_count %></td></b>
    <b>  <td><%= money_magpie_applicants_count %></td></b>
    <b>  <td><%= save_the_student_applicants_count %></td></b>
    <b>  <td><%= applicants_count %></td></b>


    <b>  <td><%= organic_students_count %></td></b>
    <b>  <td><%= ucas_students_count %></td></b>
    <b>  <td><%= facebook_students_count %></td></b>
    <b>  <td><%= money_magpie_students_count %></td></b>
    <b>  <td><%= save_the_student_students_count %></td></b>
    <b>  <td><%= students_count %></td></b>


    <b>  <td><%= organic_graduates_count %></td></b>
    <b>  <td><%= ucas_graduates_count %></td></b>
    <b>  <td><%= facebook_graduates_count %></td></b>
    <b>  <td><%= money_magpie_graduates_count %></td></b>
    <b>  <td><%= save_the_student_graduates_count %></td></b>
    <b>  <td><%= graduates_count %></td></b>

  <b>  <td><%= organic_raw_recruitment_count %></td></b>
  <b>  <td><%= ucas_raw_recruitment_count %></td></b>
  <b>  <td><%= facebook_raw_recruitment_count %></td></b>
  <b>  <td><%= money_magpie_raw_recruitment_count %></td></b>
  <b>  <td><%= save_the_student_raw_recruitment_count %></td></b>
  <b>  <td><%= raw_recruitment_count %></td></b>
  </tr>
  <!--  row for average-->
  <tr>
    <% total_months = total_month_keys.size %>

      <td>AVERAGE</td>


    <b>  <td><%= (organic_youth_count / total_months).to_i %></td></b>
    <b>  <td><%= (ucas_youth_count / total_months).to_i %></td></b>
    <b>  <td><%= (facebook_youth_count / total_months).to_i %></td></b>
    <b>  <td><%= (money_magpie_youth_count / total_months).to_i %></td></b>
    <b>  <td><%= (save_the_student_youth_count / total_months).to_i %></td></b>
    <b>  <td><%= (youth_count / total_months).to_i %></td></b>


    <b>  <td><%= (organic_applicants_count / total_months).to_i %></td></b>
    <b>  <td><%= (ucas_applicants_count / total_months).to_i %></td></b>
    <b>  <td><%= (facebook_applicants_count / total_months).to_i %></td></b>
    <b>  <td><%= (money_magpie_applicants_count / total_months).to_i %></td></b>
    <b>  <td><%= (save_the_student_applicants_count / total_months).to_i %></td></b>
    <b>  <td><%= (applicants_count / total_months).to_i %></td></b>


    <b>  <td><%= (organic_students_count / total_months).to_i %></td></b>
    <b>  <td><%= (ucas_students_count / total_months).to_i %></td></b>
    <b>  <td><%= (facebook_students_count / total_months).to_i %></td></b>
    <b>  <td><%= (money_magpie_students_count / total_months).to_i %></td></b>
    <b>  <td><%= (save_the_student_students_count / total_months).to_i %></td></b>
    <b>  <td><%= (students_count / total_months).to_i %></td></b>

    <b>  <td><%= (organic_graduates_count / total_months).to_i %></td></b>
    <b>  <td><%= (ucas_graduates_count / total_months).to_i %></td></b>
    <b>  <td><%= (facebook_graduates_count / total_months).to_i %></td></b>
    <b>  <td><%= (money_magpie_graduates_count / total_months).to_i %></td></b>
    <b>  <td><%= (save_the_student_graduates_count / total_months).to_i %></td></b>
    <b>  <td><%= (graduates_count / total_months).to_i %></td></b>

    <% unless total_months.zero? %>
    <b>  <td><%= (organic_raw_recruitment_count / total_months).to_i %></td></b>
    <b>  <td><%= (ucas_raw_recruitment_count / total_months).to_i %></td></b>
    <b>  <td><%= (facebook_raw_recruitment_count / total_months).to_i %></td></b>
    <b>  <td><%= (money_magpie_raw_recruitment_count / total_months).to_i %></td></b>
    <b>  <td><%= (save_the_student_raw_recruitment_count / total_months).to_i %></td></b>
    <b>  <td><%= (raw_recruitment_count / total_months).to_i %></td></b>
    <% end %>
  </tr>

  <!--  raw monthly data-->

  <tr>

    <td>January 2019</td>

    <td class="youth">166</td>
    <td class="youth">327</td>
    <td class="youth">53</td>
    <td class="youth">4</td>
    <td class="youth">66</td>
    <td class="youth">616</td>

    <td>276</td>
    <td>6126</td>
    <td>0</td>
    <td>1</td>
    <td>8</td>
    <td>6411</td>

    <td>287</td>
    <td>882</td>
    <td>6</td>
    <td>4</td>
    <td>50</td>
    <td>1229</td>

    <td>58</td>
    <td>9</td>
    <td>2</td>
    <td>0</td>
    <td>26</td>
    <td>95</td>

  <td>787</td>
  <td>7344</td>
  <td>61</td>
  <td>9</td>
  <td>150</td>
  <td>8351</td>


  </tr>

  <tr>

    <td>Febuary 2019</td>

    <td class="youth">113</td>
    <td class="youth">104</td>
    <td class="youth">17</td>
    <td class="youth">5</td>
    <td class="youth">53</td>
    <td class="youth">292</td>

    <td>141</td>
    <td>2011</td>
    <td>0</td>
    <td>1</td>
    <td>10</td>
    <td>2163</td>

    <td>264</td>
    <td>402</td>
    <td>3</td>
    <td>1</td>
    <td>58</td>
    <td>728</td>

    <td>30</td>
    <td>2</td>
    <td>0</td>
    <td>1</td>
    <td>4</td>
    <td>37</td>

  <td>553</td>
  <td>2519</td>
  <td>21</td>
  <td>6</td>
  <td>151</td>
  <td>3250</td>


  </tr>
<tr>
  <td>March 2019</td>

  <td class="youth">264</td>
  <td class="youth">2014</td>
  <td class="youth">63</td>
  <td class="youth">7</td>
  <td class="youth">66</td>
  <td class="youth">2414</td>

  <td>103</td>
  <td>85</td>
  <td>4</td>
  <td>1</td>
  <td>12</td>
  <td>205</td>

  <td>335</td>
  <td>29</td>
  <td>27</td>
  <td>0</td>
  <td>61</td>
  <td>452</td>

  <td>75</td>
  <td>1</td>
  <td>3</td>
  <td>0</td>
  <td>23</td>
  <td>102</td>

<td>777</td>
<td>2129</td>
<td>97</td>
<td>8</td>
<td>162</td>
<td>3173</td>


</tr>

<tr>
  <td>April 2019</td>

  <td class="youth">279</td>
  <td class="youth">2133</td>
  <td class="youth">82</td>
  <td class="youth">0</td>
  <td class="youth">0</td>
  <td class="youth">2494</td>

  <td>46</td>
  <td>45</td>
  <td>1</td>
  <td>0</td>
  <td>0</td>
  <td>92</td>

  <td>203</td>
  <td>35</td>
  <td>4</td>
  <td>0</td>
  <td>0</td>
  <td>242</td>

  <td>47</td>
  <td>0</td>
  <td>1</td>
  <td>0</td>
  <td>0</td>
  <td>48</td>

<td>575</td>
<td>2213</td>
<td>88</td>
<td>0</td>
<td>0</td>
<td>2876</td>


</tr>

<tr>
  <td>May 2019</td>

  <td class="youth">154</td>
  <td class="youth">321</td>
  <td class="youth">53</td>
  <td class="youth">5</td>
  <td class="youth">58</td>
  <td class="youth">591</td>

  <td>40</td>
  <td>15</td>
  <td>0</td>
  <td>0</td>
  <td>11</td>
  <td>66</td>

  <td>194</td>
  <td>15</td>
  <td>2</td>
  <td>2</td>
  <td>25</td>
  <td>238</td>

  <td>52</td>
  <td>0</td>
  <td>0</td>
  <td>0</td>
  <td>15</td>
  <td>67</td>

<td>440</td>
<td>351</td>
<td>55</td>
<td>7</td>
<td>109</td>
<td>962</td>


</tr>









  <% total_month_keys.each do |import| %>
    <tr>
      <td><%= "#{import.month}-01".to_date.strftime('%B %Y') %></td>

        <% youth_row = @monthly_youths[import] %>
        <td class="youth"><%= youth_row.select {|object| object.organic?}.size %></td>
        <td class="youth"><%= youth_row.select {|object| object.ucas?}.size %></td>
        <td class="youth"><%= youth_row.select {|object| object.facebook?}.size %></td>
        <td class="youth"><%= youth_row.select {|object| object.money_magpie?}.size %></td>
        <td class="youth"><%= youth_row.select {|object| object.save_the_student?}.size %></td>
        <td class="youth"><%= youth_row.size %></td>


        <% applicants_row = @monthly_applicants[import] %>
        <td class="applicant"><%= applicants_row.select {|object| object.organic?}.size %></td>
        <td class="applicant"><%= applicants_row.select {|object| object.ucas?}.size %></td>
        <td class="applicant"><%= applicants_row.select {|object| object.facebook?}.size %></td>
        <td class="applicant"><%= applicants_row.select {|object| object.money_magpie?}.size %></td>
        <td class="applicant"><%= applicants_row.select {|object| object.save_the_student?}.size %></td>
        <td class="applicant"><%= applicants_row.size %></td>


        <% students_row = @monthly_students[import] %>
        <td  class="student"><%= students_row.select {|object| object.organic?}.size %></td>
        <td  class="student"><%= students_row.select {|object| object.ucas?}.size %></td>
        <td class="student"><%= students_row.select {|object| object.facebook?}.size %></td>
        <td class="student"><%= students_row.select {|object| object.money_magpie?}.size %></td>
        <td class="student"><%= students_row.select {|object| object.save_the_student?}.size %></td>
        <td class="student"><%= students_row.size %></td>


        <% graduates_row = @monthly_graduates[import] %>
        <td class="graduate"><%= graduates_row.select {|object| object.organic?}.size %></td>
        <td class="graduate"><%= graduates_row.select {|object| object.ucas?}.size %></td>
        <td class="graduate"><%= graduates_row.select {|object| object.facebook?}.size %></td>
        <td class="graduate"><%= graduates_row.select {|object| object.money_magpie?}.size %></td>
        <td class="graduate"><%= graduates_row.select {|object| object.save_the_student?}.size %></td>
        <td class="graduate"><%= graduates_row.size %></td>

      <% total_monthly_data = @monthly_raw_recruitment[import] %>
      <td class="total"><%= total_monthly_data.select {|object| object.organic?}.size %></td>
      <td class="total"><%= total_monthly_data.select {|object| object.ucas?}.size %></td>
      <td class="total"><%= total_monthly_data.select {|object| object.facebook?}.size %></td>
      <td class="total"><%= total_monthly_data.select {|object| object.money_magpie?}.size %></td>
      <td class="total"><%= total_monthly_data.select {|object| object.save_the_student?}.size %></td>
      <td class="total"><%= total_monthly_data.size %></td>
    </tr>
  <% end %>


  <tr>
    <td>November 2019</td>

    <td class="youth">287</td>
    <td class="youth">1395</td>
    <td class="youth">1282</td>
    <td class="youth">7</td>
    <td class="youth">28</td>
    <td class="youth">3590</td>

    <td >187</td>
    <td>4426</td>
    <td>216</td>
    <td>0</td>
    <td>11</td>
    <td>4840</td>

    <td>487</td>
    <td>320</td>
    <td>2220</td>
    <td>1</td>
    <td>53</td>
    <td>3081</td>

    <td>74</td>
    <td>13</td>
    <td>207</td>
    <td>2</td>
    <td>14</td>
    <td>750</td>

  <td>1035</td>
  <td>6154</td>
  <td>3925</td>
  <td>10</td>
  <td>106</td>
  <td>11320</td>


  </tr>

</table>
