<table style="width:100%">
  <!--  headers row-->
  <tr>
    <th></th>

      <th  colspan="9">Youths</th>

      <th colspan="9">Applicants</th>


      <th colspan="9">Students</th>


      <th colspan="9">Graduates</th>

    <th colspan="9">Total</th>
  </tr>
  <!--  row for month-->
  <tr style="border-bottom: 1px solid #000000;">
    <td>Source</td>

      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>University Boosters</td>
      <td>Afility Media</td>
      <td>Content collaborations</td>
      <td class="borders">Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>University Boosters</td>
      <td>Afility Media</td>
      <td>Content collaborations</td>
      <td class="borders">Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>University Boosters</td>
      <td>Afility Media</td>
      <td>Content collaborations</td>
      <td class="borders">Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>University Boosters</td>
      <td>Afility Media</td>
      <td>Content collaborations</td>
      <td class="borders">Total</td>

    <td>Organic</td>
    <td>UCAS</td>
    <td>Facebook</td>
    <td>Money Magpie</td>
    <td>Save The Student</td>
    <td>University Boosters</td>
    <td>Afility Media</td>
    <td>Content collaborations</td>
    <td class="borders">Total</td>
  </tr>

  <% total_month_keys = @monthly_raw_recruitment.keys %>
  <% youths = @raw_recruitment.youths %>
  <% applicants = @raw_recruitment.applicants %>
  <% students = @raw_recruitment.students %>
  <% graduates = @raw_recruitment.graduates %>
  <% organic_raw_recruitment_count = @raw_recruitment.organic.size %>
  <% ucas_raw_recruitment_count = @raw_recruitment.ucas.size %>
  <% facebook_raw_recruitment_count = @raw_recruitment.facebook.size %>
  <% money_magpie_raw_recruitment_count = @raw_recruitment.money_magpie.size %>
  <% save_the_student_raw_recruitment_count = @raw_recruitment.save_the_student.size %>
  <% uniboost_raw_recruitment_count = @raw_recruitment.uniboost.size %>
  <% afility_raw_recruitment_count = @raw_recruitment.afility.size %>
  <% conentcollab_raw_recruitment_count = @raw_recruitment.contentcollab.size %>
  <% raw_recruitment_count = @raw_recruitment.size %>

    <% organic_youth_count = youths.organic.size %>
    <% ucas_youth_count = youths.ucas.size %>
    <% facebook_youth_count = youths.facebook.size %>
    <% money_magpie_youth_count = youths.money_magpie.size %>
    <% save_the_student_youth_count = youths.save_the_student.size %>
    <% uniboost_youth_count = youths.uniboost.size %>
    <% afility_youth_count = youths.afility.size %>
    <% contentcollab_youth_count = youths.contentcollab.size %>
    <% youth_count = youths.size %>



    <% organic_applicants_count = applicants.organic.size %>
    <% ucas_applicants_count = applicants.ucas.size %>
    <% facebook_applicants_count = applicants.facebook.size %>
    <% money_magpie_applicants_count = applicants.money_magpie.size %>
    <% save_the_student_applicants_count = applicants.save_the_student.size %>
    <% uniboost_applicants_count = applicants.uniboost.size %>
    <% afility_applicants_count = applicants.afility.size %>
    <% contentcollab_applicants_count = applicants.contentcollab.size %>
    <% applicants_count = applicants.size %>




    <% organic_students_count = students.organic.size %>
    <% ucas_students_count = students.ucas.size %>
    <% facebook_students_count = students.facebook.size %>
    <% money_magpie_students_count = students.money_magpie.size %>
    <% save_the_student_students_count = students.save_the_student.size %>
    <% uniboost_students_count = students.uniboost.size %>
    <% afility_students_count = students.afility.size %>
    <% contentcollab_students_count = students.contentcollab.size %>
    <% students_count = students.size %>



    <% organic_graduates_count = graduates.organic.size %>
    <% ucas_graduates_count = graduates.ucas.size %>
    <% facebook_graduates_count = graduates.facebook.size %>
    <% money_magpie_graduates_count = graduates.money_magpie.size %>
    <% save_the_student_graduates_count = graduates.save_the_student.size %>
    <% uniboost_graduates_count = graduates.uniboost.size %>
    <% afility_graduates_count = graduates.afility.size %>
    <% contentcollab_graduates_count = graduates.contentcollab.size %>
    <% graduates_count = graduates.size %>



  <!--  raw monthly data-->

  <tr>

    <td class="stick">January 2019</td>

    <td class="organic">166</td>
    <td class="ucas">327</td>
    <td class="facebook">53</td>
    <td class="moneymagpie">4</td>
    <td class="savethestudent">66</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">616</td>

    <td class="organic">276</td>
    <td class="ucas">6126</td>
    <td class="facebook">0</td>
    <td class="moneymagpie">1</td>
    <td class="savethestudent">8</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">6411</td>

    <td class="organic">287</td>
    <td class="ucas">882</td>
    <td class="facebook">6</td>
    <td class="moneymagpie">4</td>
    <td class="savethestudent">50</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">1229</td>

    <td class="organic">58</td>
    <td class="ucas">9</td>
    <td class="facebook">2</td>
    <td class="moneymagpie">0</td>
    <td class="savethestudent">26</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">95</td>

  <td class="organic">787</td>
  <td class="ucas">7344</td>
  <td class="facebook">61</td>
  <td class="moneymagpie">9</td>
  <td class="savethestudent">150</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">8351</td>


  </tr>

  <tr>

    <td class="stick">Febuary 2019</td>

    <td class="organic">113</td>
    <td class="ucas">104</td>
    <td class="facebook">17</td>
    <td class="moneymagpie">5</td>
    <td class="savethestudent">53</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">292</td>

    <td  class="organic">141</td>
    <td class="ucas">2011</td>
    <td class="facebook">0</td>
    <td class="moneymagpie">1</td>
    <td class="savethestudent">10</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">2163</td>

    <td class="organic">264</td>
    <td class="ucas">402</td>
    <td class="facebook">3</td>
    <td class="moneymagpie">1</td>
    <td class="savethestudent">58</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">728</td>

    <td class="organic">30</td>
    <td class="ucas">2</td>
    <td class="facebook">0</td>
    <td class="moneymagpie">1</td>
    <td class="savethestudent">4</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">37</td>

  <td class="organic">553</td>
  <td class="ucas">2519</td>
  <td class="facebook">21</td>
  <td class="moneymagpie">6</td>
  <td class="savethestudent">151</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">3250</td>


  </tr>
<tr>
  <td class="stick">March 2019</td>

  <td class="organic">264</td>
  <td  class="ucas">2014</td>
  <td class="facebook">63</td>
  <td class="moneymagpie">7</td>
  <td class="savethestudent">66</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">2414</td>

  <td class="organic">103</td>
  <td class="ucas">85</td>
  <td class="facebook">4</td>
  <td class="moneymagpie">1</td>
  <td class="savethestudent">12</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">205</td>

  <td class="organic">335</td>
  <td class="ucas">29</td>
  <td class="facebook">27</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">61</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">452</td>

  <td class="organic">75</td>
  <td class="ucas">1</td>
  <td class="facebook">3</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">23</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">102</td>

<td class="organic">777</td>
<td class="ucas">2129</td>
<td class="facebook">97</td>
<td class="moneymagpie">8</td>
<td class="savethestudent">162</td>
<td class="uniboost">0</td>
<td class="afility">0</td>
<td class="contentcollab">0</td>
<td class="border">3173</td>


</tr>

<tr>
  <td class="stick">April 2019</td>

  <td  class="organic">279</td>
  <td  class="ucas">2133</td>
  <td class="facebook">82</td>
  <td class="moneymagpie">0</td>
  <td  class="savethestudent">0</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">2494</td>

  <td class="organic">46</td>
  <td  class="ucas">45</td>
  <td class="facebook">1</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">0</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">92</td>

  <td class="organic">203</td>
  <td class="ucas">35</td>
  <td class="facebook">4</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">0</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">242</td>

  <td class="organic">47</td>
  <td class="ucas">0</td>
  <td class="facebook">1</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">0</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">48</td>

<td class="organic">575</td>
<td class="ucas">2213</td>
<td class="facebook">88</td>
<td class="moneymagpie">0</td>
<td class="savethestudent">0</td>
<td class="uniboost">0</td>
<td class="afility">0</td>
<td class="contentcollab">0</td>
<td class="border">2876</td>


</tr>

<tr>
  <td class="stick">May 2019</td>

  <td  class="organic">154</td>
  <td class="ucas">321</td>
  <td class="facebook">53</td>
  <td class="moneymagpie">5</td>
  <td class="savethestudent">58</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">591</td>

  <td class="organic">40</td>
  <td class="ucas">15</td>
  <td class="facebook">0</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">11</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">66</td>

  <td class="organic">194</td>
  <td class="ucas">15</td>
  <td class="facebook">2</td>
  <td class="moneymagpie">2</td>
  <td class="savethestudent">25</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">238</td>

  <td class="organic">52</td>
  <td class="ucas">0</td>
  <td class="facebook">0</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">15</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class="border">67</td>

<td class="organic">440</td>
<td class="ucas">351</td>
<td class="facebook">55</td>
<td class="moneymagpie">7</td>
<td class="savethestudent">109</td>
<td class="uniboost">0</td>
<td class="afility">0</td>
<td class="contentcollab">0</td>
<td class="border">962</td>


</tr>









  <tr>
    <td class="stick">June 2019</td>

    <td class="organic">214</td>
    <td class="ucas">1523</td>
    <td class="facebook">44</td>
    <td class="moneymagpie">2</td>
    <td class="savethestudent">48</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">1831</td>

    <td class ="organic">37</td>
    <td class ="ucas">58</td>
    <td class ="facebook">0</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">10</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">105</td>

    <td class ="organic">185</td>
    <td class ="ucas">24</td>
    <td class ="facebook">4</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">54</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">267</td>

    <td class ="organic">44</td>
    <td class ="ucas">0</td>
    <td class ="facebook">1</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">19</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">64</td>

  <td class ="organic">480</td>
  <td class ="ucas">1605</td>
  <td class ="facebook">49</td>
  <td class ="moneymagpie">2</td>
  <td class ="savethestudent">131</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class ="border">2267</td>


  </tr>
  <tr>
    <td class="stick">July 2019</td>

    <td class="organic">189</td>
    <td class="ucas">551</td>
    <td class="facebook">58</td>
    <td class="moneymagpie">5</td>
    <td class="savethestudent">60</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">863</td>

    <td class ="organic">38</td>
    <td class ="ucas">37</td>
    <td class ="facebook">1</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">11</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">87</td>

    <td class ="organic">131</td>
    <td class ="ucas">22</td>
    <td class ="facebook">3</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">37</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">195</td>

    <td class ="organic">79</td>
    <td class ="ucas">0</td>
    <td class ="facebook">1</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">31</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">111</td>

  <td class ="organic">437</td>
  <td class ="ucas">610</td>
  <td class ="facebook">63</td>
  <td class ="moneymagpie">7</td>
  <td class ="savethestudent">139</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class ="border">1256</td>


  </tr>

  <tr>
    <td class="stick">August 2019</td>

    <td class="organic">172</td>
    <td class="ucas">20</td>
    <td class="facebook">53</td>
    <td class="moneymagpie">14</td>
    <td class="savethestudent">40</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">299</td>

    <td class ="organic">14</td>
    <td class ="ucas">16</td>
    <td class ="facebook">0</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">3</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">33</td>

    <td class ="organic">256</td>
    <td class ="ucas">1973</td>
    <td class ="facebook">8</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">58</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">2297</td>

    <td class ="organic">35</td>
    <td class ="ucas">0</td>
    <td class ="facebook">4</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">25</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">64</td>

  <td class ="organic">477</td>
  <td class ="ucas">2009</td>
  <td class ="facebook">65</td>
  <td class ="moneymagpie">16</td>
  <td class ="savethestudent">126</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class ="border">2693</td>


  </tr>


  <tr>
    <td class="stick">September 2019</td>

    <td class="organic">248</td>
    <td class="ucas">405</td>
    <td class="facebook">75</td>
    <td class="moneymagpie">4</td>
    <td class="savethestudent">40</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">772</td>

    <td class ="organic">35</td>
    <td class ="ucas">234</td>
    <td class ="facebook">2</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">0</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">271</td>

    <td class ="organic">535</td>
    <td class ="ucas">7954</td>
    <td class ="facebook">8</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">40</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">8537</td>

    <td class ="organic">61</td>
    <td class ="ucas">0</td>
    <td class ="facebook">1</td>
    <td class ="moneymagpie">3</td>
    <td class ="savethestudent">17</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">82</td>

  <td class ="organic">879</td>
  <td class ="ucas">8593</td>
  <td class ="facebook">86</td>
  <td class ="moneymagpie">7</td>
  <td class ="savethestudent">97</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class ="border">9662</td>


  </tr>

  <tr>
    <td class="stick">October 2019</td>

    <td class="organic">171</td>
    <td class="ucas">221</td>
    <td class="facebook">555</td>
    <td class="moneymagpie">11</td>
    <td class="savethestudent">37</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">995</td>

    <td class ="organic">147</td>
    <td class ="ucas">3056</td>
    <td class ="facebook">46</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">3</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">3219</td>

    <td class ="organic">422</td>
    <td class ="ucas">4041</td>
    <td class ="facebook">54</td>
    <td class ="moneymagpie">1</td>
    <td class ="savethestudent">45</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">4598</td>

    <td class ="organic">65</td>
    <td class ="ucas">16</td>
    <td class ="facebook">21</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">17</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">119</td>

  <td class ="organic">805</td>
  <td class ="ucas">7334</td>
  <td class ="facebook">676</td>
  <td class ="moneymagpie">14</td>
  <td class ="savethestudent">102</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class ="border">8931</td>


  </tr>



  <tr>
    <td class="stick">November 2019</td>

    <td class="organic">288</td>
    <td class="ucas">1395</td>
    <td class="facebook">1284</td>
    <td class="moneymagpie">9</td>
    <td class="savethestudent">28</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">3004</td>

    <td class ="organic">187</td>
    <td class ="ucas">4426</td>
    <td class ="facebook">216</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">11</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">4841</td>

    <td class ="organic">970</td>
    <td class ="ucas">320</td>
    <td class ="facebook">2220</td>
    <td class ="moneymagpie">1</td>
    <td class ="savethestudent">53</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">3564</td>

    <td class ="organic">74</td>
    <td class ="ucas">13</td>
    <td class ="facebook">207</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">14</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">310</td>

  <td class ="organic">1035</td>
  <td class ="ucas">6154</td>
  <td class ="facebook">3925</td>
  <td class ="moneymagpie">10</td>
  <td class ="savethestudent">106</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class ="border">11719</td>


  </tr>

  <tr>
    <td class="stick">December 2019</td>

    <td class="organic">77</td>
    <td class="ucas">428</td>
    <td class="facebook">242</td>
    <td class="moneymagpie">2</td>
    <td class="savethestudent">17</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">766</td>

    <td class ="organic">99</td>
    <td class ="ucas">3164</td>
    <td class ="facebook">41</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">5</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">3309</td>

    <td class ="organic">202</td>
    <td class ="ucas">171</td>
    <td class ="facebook">327</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">19</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">719</td>

    <td class ="organic">20</td>
    <td class ="ucas">12</td>
    <td class ="facebook">11</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">4</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">47</td>

  <td class ="organic">364</td>
  <td class ="ucas">3775</td>
  <td class ="facebook">‭621‬</td>
  <td class ="moneymagpie">2</td>
  <td class ="savethestudent">106</td>
  <td class="uniboost">0</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class ="border">4841‬</td>

  </tr>

  <tr>
    <td class="stick">January 2020</td>

    <td class="organic">142</td>
    <td class="ucas">204</td>
    <td class="facebook">39</td>
    <td class="moneymagpie">5</td>
    <td class="savethestudent">50</td>
    <td class="uniboost">3</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">443</td>

    <td class ="organic">241</td>
    <td class ="ucas">3965</td>
    <td class ="facebook">2</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">5</td>
    <td class="uniboost">10</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">4223</td>

    <td class ="organic">409</td>
    <td class ="ucas">995</td>
    <td class ="facebook">175</td>
    <td class ="moneymagpie">3</td>
    <td class ="savethestudent">45</td>
    <td class="uniboost">46</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">1673</td>

    <td class ="organic">31</td>
    <td class ="ucas">3</td>
    <td class ="facebook">3</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">18</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">57</td>

  <td class ="organic">823</td>
  <td class ="ucas">5167</td>
  <td class ="facebook">219</td>
  <td class ="moneymagpie">10</td>
  <td class ="savethestudent">118</td>
  <td class="uniboost">59</td>
  <td class="afility">0</td>
  <td class="contentcollab">0</td>
  <td class ="border">6396</td>

  </tr>


  <tr>
    <td class="stick">Febuary 2020</td>

    <td class="organic">211</td>
    <td class="ucas">49</td>
    <td class="facebook">340</td>
    <td class="moneymagpie">12</td>
    <td class="savethestudent">39</td>
    <td class="uniboost">3</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">654</td>

    <td class ="organic">365</td>
    <td class ="ucas">604</td>
    <td class ="facebook">61</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">0</td>
    <td class="uniboost">86</td>
    <td class="afility">1</td>
    <td class="contentcollab">0</td>
    <td class ="border">1119</td>

    <td class ="organic">701</td>
    <td class ="ucas">356</td>
    <td class ="facebook">748</td>
    <td class ="moneymagpie">7</td>
    <td class ="savethestudent">54</td>
    <td class="uniboost">35</td>
    <td class="afility">7</td>
    <td class="contentcollab">0</td>
    <td class ="border">1908</td>

    <td class ="organic">66</td>
    <td class ="ucas">6</td>
    <td class ="facebook">5</td>
    <td class ="moneymagpie">3</td>
    <td class ="savethestudent">21</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">100</td>

  <td class ="organic">1343</td>
  <td class ="ucas">1015</td>
  <td class ="facebook">1154</td>
  <td class ="moneymagpie">25</td>
  <td class ="savethestudent">114</td>
  <td class="uniboost">124</td>
  <td class="afility">8</td>
  <td class="contentcollab">0</td>
  <td class ="border">3782</td>

  </tr>

  <tr>
    <td class="stick">March 2020</td>

    <td class="organic">281</td>
    <td class="ucas">1814</td>
    <td class="facebook">760</td>
    <td class="moneymagpie">11</td>
    <td class="savethestudent">37</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">2</td>
    <td class="border">2905</td>

    <td class ="organic">89</td>
    <td class ="ucas">134</td>
    <td class ="facebook">27</td>
    <td class ="moneymagpie">1</td>
    <td class ="savethestudent">6</td>
    <td class="uniboost">2</td>
    <td class="afility">1</td>
    <td class="contentcollab">0</td>
    <td class ="border">260</td>

    <td class ="organic">520</td>
    <td class ="ucas">223</td>
    <td class ="facebook">224</td>
    <td class ="moneymagpie">6</td>
    <td class ="savethestudent">54</td>
    <td class="uniboost">10</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">1037</td>

    <td class ="organic">51</td>
    <td class ="ucas">10</td>
    <td class ="facebook">3</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">4</td>
    <td class="uniboost">1</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">69</td>

  <td class ="organic">941</td>
  <td class ="ucas">2181</td>
  <td class ="facebook">1014</td>
  <td class ="moneymagpie">18</td>
  <td class ="savethestudent">101</td>
  <td class="uniboost">13</td>
  <td class="afility">1</td>
  <td class="contentcollab">2</td>
  <td class ="border">4271</td>

  </tr>

  <tr>
    <td class="stick">April 2020</td>

    <td class="organic">884</td>
    <td class="ucas">1375</td>
    <td class="facebook">797</td>
    <td class="moneymagpie">21</td>
    <td class="savethestudent">67</td>
    <td class="uniboost">1</td>
    <td class="afility">0</td>
    <td class="contentcollab">2</td>
    <td class="border">3147</td>

    <td class ="organic">60</td>
    <td class ="ucas">48</td>
    <td class ="facebook">6</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">9</td>
    <td class="uniboost">1</td>
    <td class="afility">0</td>
    <td class="contentcollab">1</td>
    <td class ="border">127</td>

    <td class ="organic">648</td>
    <td class ="ucas">162</td>
    <td class ="facebook">59</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">13</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">884</td>

    <td class ="organic">73</td>
    <td class ="ucas">10</td>
    <td class ="facebook">0</td>
    <td class ="moneymagpie">1</td>
    <td class ="savethestudent">4</td>
    <td class="uniboost">1</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">89</td>

  <td class ="organic">1665</td>
  <td class ="ucas">1595</td>
  <td class ="facebook">862</td>
  <td class ="moneymagpie">26</td>
  <td class ="savethestudent">93</td>
  <td class="uniboost">3</td>
  <td class="afility">0</td>
  <td class="contentcollab">3</td>
  <td class ="border">4247</td>

  </tr>


  <tr>
    <td class="stick">May 2020</td>

    <td class="organic">987</td>
    <td class="ucas">1601</td>
    <td class="facebook">34</td>
    <td class="moneymagpie">55</td>
    <td class="savethestudent">52</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class="border">2729</td>

    <td class ="organic">75</td>
    <td class ="ucas">119</td>
    <td class ="facebook">0</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">3</td>
    <td class="uniboost">1</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">199</td>

    <td class ="organic">488</td>
    <td class ="ucas">162</td>
    <td class ="facebook">4</td>
    <td class ="moneymagpie">4</td>
    <td class ="savethestudent">59</td>
    <td class="uniboost">0</td>
    <td class="afility">1</td>
    <td class="contentcollab">1</td>
    <td class ="border">719</td>

    <td class ="organic">58</td>
    <td class ="ucas">10</td>
    <td class ="facebook">0</td>
    <td class ="moneymagpie">1</td>
    <td class ="savethestudent">7</td>
    <td class="uniboost">0</td>
    <td class="afility">0</td>
    <td class="contentcollab">0</td>
    <td class ="border">76</td>

  <td class ="organic">1608</td>
  <td class ="ucas">1892</td>
  <td class ="facebook">38</td>
  <td class ="moneymagpie">62</td>
  <td class ="savethestudent">121</td>
  <td class="uniboost">1</td>
  <td class="afility">1</td>
  <td class="contentcollab">1</td>
  <td class ="border">3724</td>

  </tr>


    <tr>
      <td class="stick">June 2020</td>

      <td class="organic">385</td>
      <td class="ucas">1296</td>
      <td class="facebook">6</td>
      <td class="moneymagpie">48</td>
      <td class="savethestudent">47</td>
      <td class="uniboost">0</td>
      <td class="afility">0</td>
      <td class="contentcollab">0</td>
      <td class="border">1782</td>

      <td class ="organic">69</td>
      <td class ="ucas">142</td>
      <td class ="facebook">0</td>
      <td class ="moneymagpie">4</td>
      <td class ="savethestudent">11</td>
      <td class="uniboost">1</td>
      <td class="afility">0</td>
      <td class="contentcollab">1</td>
      <td class ="border">228</td>

      <td class ="organic">557</td>
      <td class ="ucas">212</td>
      <td class ="facebook">2</td>
      <td class ="moneymagpie">2</td>
      <td class ="savethestudent">55</td>
      <td class="uniboost">2</td>
      <td class="afility">0</td>
      <td class="contentcollab">0</td>
      <td class ="border">830</td>

      <td class ="organic">135</td>
      <td class ="ucas">24</td>
      <td class ="facebook">0</td>
      <td class ="moneymagpie">1</td>
      <td class ="savethestudent">8</td>
      <td class="uniboost">0</td>
      <td class="afility">0</td>
      <td class="contentcollab">0</td>
      <td class ="border">168</td>

    <td class ="organic">1147</td>
    <td class ="ucas">1674</td>
    <td class ="facebook">8</td>
    <td class ="moneymagpie">55</td>
    <td class ="savethestudent">121</td>
    <td class="uniboost">3</td>
    <td class="afility">0</td>
    <td class="contentcollab">1</td>
    <td class ="border">3008</td>

    </tr>


      <% total_month_keys.each do |import| %>
        <tr>
          <td class="stick"><%= "#{import.month}-01".to_date.strftime('%B %Y') %></td>

            <% youth_row = @monthly_youths[import] %>
            <td class="organic"><%= youth_row.select {|object| object.organic?}.size %></td>
            <td  class="ucas"><%= youth_row.select {|object| object.ucas?}.size %></td>
            <td class="facebook"><%= youth_row.select {|object| object.facebook?}.size %></td>
            <td class="moneymagpie"><%= youth_row.select {|object| object.money_magpie?}.size %></td>
            <td class="savethestudent"><%= youth_row.select {|object| object.save_the_student?}.size %></td>
            <td class="uniboost"><%= youth_row.select {|object| object.uniboost?}.size %></td>
            <td class="afility"><%= youth_row.select {|object| object.afility?}.size %></td>
            <td class="contentcollab"><%= youth_row.select {|object| object.contentcollab?}.size %></td>
            <td class="border"><%= youth_row.size %></td>


            <% applicants_row = @monthly_applicants[import] %>
            <td class="organic"><%= applicants_row.select {|object| object.organic?}.size %></td>
            <td  class="ucas"><%= applicants_row.select {|object| object.ucas?}.size %></td>
            <td class="facebook"><%= applicants_row.select {|object| object.facebook?}.size %></td>
            <td class="moneymagpie"><%= applicants_row.select {|object| object.money_magpie?}.size %></td>
            <td class="savethestudent"><%= applicants_row.select {|object| object.save_the_student?}.size %></td>
            <td class="uniboost"><%= applicants_row.select {|object| object.uniboost?}.size %></td>
            <td class="afility"><%= applicants_row.select {|object| object.afility?}.size %></td>
            <td class="contentcollab"><%= applicants_row.select {|object| object.contentcollab?}.size %></td>
            <td class="border"><%= applicants_row.size %></td>


            <% students_row = @monthly_students[import] %>
            <td class="organic"><%= students_row.select {|object| object.organic?}.size %></td>
            <td  class="ucas"><%= students_row.select {|object| object.ucas?}.size %></td>
            <td class="facebook"><%= students_row.select {|object| object.facebook?}.size %></td>
            <td class="moneymagpie"><%= students_row.select {|object| object.money_magpie?}.size %></td>
            <td class="savethestudent"><%= students_row.select {|object| object.save_the_student?}.size %></td>
            <td  class="uniboost"><%= students_row.select {|object| object.uniboost?}.size %></td>
            <td  class="afility"><%= students_row.select {|object| object.afility?}.size %></td>
            <td  class="contentcollab"><%= students_row.select {|object| object.contentcollab?}.size %></td>
            <td class="border"><%= students_row.size %></td>


            <% graduates_row = @monthly_graduates[import] %>
            <td class="organic"><%= graduates_row.select {|object| object.organic?}.size %></td>
            <td  class="ucas"><%= graduates_row.select {|object| object.ucas?}.size %></td>
            <td class="facebook"><%= graduates_row.select {|object| object.facebook?}.size %></td>
            <td class="moneymagpie"><%= graduates_row.select {|object| object.money_magpie?}.size %></td>
            <td class="savethestudent"><%= graduates_row.select {|object| object.save_the_student?}.size %></td>
            <td  class="uniboost"><%= graduates_row.select {|object| object.uniboost?}.size %></td>
            <td  class="afility"><%= graduates_row.select {|object| object.afility?}.size %></td>
            <td  class="contentcollab"><%= graduates_row.select {|object| object.contentcollab?}.size %></td>
            <td class="border"><%= graduates_row.size %></td>

          <% total_monthly_data = @monthly_raw_recruitment[import] %>
          <td class="organic"><%= total_monthly_data.select {|object| object.organic?}.size %></td>
          <td  class="ucas"><%= total_monthly_data.select {|object| object.ucas?}.size %></td>
          <td class="facebook"><%= total_monthly_data.select {|object| object.facebook?}.size %></td>
          <td class="moneymagpie"><%= total_monthly_data.select {|object| object.money_magpie?}.size %></td>
          <td class="savethestudent"><%= total_monthly_data.select {|object| object.save_the_student?}.size %></td>
          <td  class="uniboost"><%= total_monthly_data.select {|object| object.uniboost?}.size %></td>
          <td  class="afility"><%= total_monthly_data.select {|object| object.afility?}.size %></td>
          <td  class="contentcollab"><%= total_monthly_data.select {|object| object.contentcollab?}.size %></td>
          <td class="border"><%= total_monthly_data.size %></td>
        </tr>
      <% end %>



<br>
<br>
<br>
<br>
<br>
<br>


</table>

<h2>Students Matrix</h2>

<table style="width:75%">
  <tr>
    <th></th>

      <th colspan="3">1st Year Students</th>

      <th colspan="3">2nd Year Students</th>


      <th colspan="3">3rd Year + Students</th>

  </tr>
  <tr style="border-bottom: 1px solid #000000;">
    <td class="borders">Course year</td>

      <td>Male</td>
      <td>Female</td>
      <td class="borders">Other</td>

      <td>Male</td>
      <td>Female</td>
      <td class="borders">Other</td>

      <td>Male</td>
      <td>Female</td>
      <td class="borders">Other</td>


  </tr>

  <tr>

    <td>January 2020</td>

    <td class="male">447</td>
    <td class="female">857</td>
    <td class="other">8</td>

    <td class="male">66</td>
    <td class="female">138</td>
    <td class="other">0</td>

    <td class="male">58</td>
    <td class="female">84</td>
    <td class="other">0</td>
</tr>

<tr>

  <td>Febuary 2020</td>

  <td class="male">334</td>
  <td class="female">900</td>
  <td class="other">9</td>

  <td class="male">129</td>
  <td class="female">279</td>
  <td class="other">0</td>

  <td class="male">98</td>
  <td class="female">156</td>
  <td class="other">3</td>
</tr>

<tr>

  <td>March 2020</td>

  <td class="male">178</td>
  <td class="female">357</td>
  <td class="other">5</td>

  <td class="male">120</td>
  <td class="female">148</td>
  <td class="other">4</td>

  <td class="male">106</td>
  <td class="female">119</td>
  <td class="other">1</td>
</tr>
<tr>
<td>April 2020</td>

<td class="male">156</td>
<td class="female">260</td>
<td class="other">2</td>

<td class="male">108</td>
<td class="female">128</td>
<td class="other">1</td>

<td class="male">106</td>
<td class="female">122</td>
<td class="other">1</td>
</tr>

<tr>
<td>May 2020</td>

<td class="male">136</td>
<td class="female">198</td>
<td class="other">0</td>

<td class="male">85</td>
<td class="female">119</td>
<td class="other">0</td>

<td class="male">68</td>
<td class="female">111</td>
<td class="other">1</td>
</tr>

<tr>
<td>June 2020</td>

<td class="male">116</td>
<td class="female">180</td>
<td class="other">3</td>

<td class="male">107</td>
<td class="female">152</td>
<td class="other">1</td>

<td class="male">104</td>
<td class="female">163</td>
<td class="other">0</td>
</tr>



</table>
