<table style="width:100%">
  <!--  headers row-->
  <tr>
    <th></th>

      <th  colspan="6">Youths</th>

      <th colspan="6">Applicants</th>


      <th colspan="6">Students</th>


      <th colspan="6">Graduates</th>

    <th colspan="6">Total</th>
  </tr>
  <!--  row for month-->
  <tr style="border-bottom: 1px solid #000000;">
    <td>Source</td>

      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td class="borders">Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td class="borders">Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td class="borders">Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td class="borders">Total</td>

    <td>Organic</td>
    <td>UCAS</td>
    <td>Facebook</td>
    <td>Money Magpie</td>
    <td>Save The Student</td>
    <td class="borders">Total</td>
  </tr>

  <% total_month_keys = @monthly_raw_recruitment.keys %>
  <% youths = @raw_recruitment.youths %>
  <% applicants = @raw_recruitment.applicants %>
  <% students = @raw_recruitment.students %>
  <% graduates = @raw_recruitment.graduates %>
  <% organic_raw_recruitment_count = @raw_recruitment.organic.size %>
  <% ucas_raw_recruitment_count = @raw_recruitment.ucas.size %>
  <% facebook_raw_recruitment_count = @raw_recruitment.facebook.size %>
  <% money_magpie_raw_recruitment_count = @raw_recruitment.money_magpie.size %>
  <% save_the_student_raw_recruitment_count = @raw_recruitment.save_the_student.size %>
  <% raw_recruitment_count = @raw_recruitment.size %>

    <% organic_youth_count = youths.organic.size %>
    <% ucas_youth_count = youths.ucas.size %>
    <% facebook_youth_count = youths.facebook.size %>
    <% money_magpie_youth_count = youths.money_magpie.size %>
    <% save_the_student_youth_count = youths.save_the_student.size %>
    <% youth_count = youths.size %>



    <% organic_applicants_count = applicants.organic.size %>
    <% ucas_applicants_count = applicants.ucas.size %>
    <% facebook_applicants_count = applicants.facebook.size %>
    <% money_magpie_applicants_count = applicants.money_magpie.size %>
    <% save_the_student_applicants_count = applicants.save_the_student.size %>
    <% applicants_count = applicants.size %>

    <% aplicants_count = applicants.size %>

    <% organic_students_count = students.organic.size %>
    <% ucas_students_count = students.ucas.size %>
    <% facebook_students_count = students.facebook.size %>
    <% money_magpie_students_count = students.money_magpie.size %>
    <% save_the_student_students_count = students.save_the_student.size %>
    <% students_count = students.size %>



    <% organic_graduates_count = graduates.organic.size %>
    <% ucas_graduates_count = graduates.ucas.size %>
    <% facebook_graduates_count = graduates.facebook.size %>
    <% money_magpie_graduates_count = graduates.money_magpie.size %>
    <% save_the_student_graduates_count = graduates.save_the_student.size %>
    <% graduates_count = graduates.size %>



  <!--  raw monthly data-->

  <tr>

    <td class="stick">January 2019</td>

    <td class="organic">166</td>
    <td class="ucas">327</td>
    <td class="facebook">53</td>
    <td class="moneymagpie">4</td>
    <td class="savethestudent">66</td>
    <td class="border">616</td>

    <td class="organic">276</td>
    <td class="ucas">6126</td>
    <td class="facebook">0</td>
    <td class="moneymagpie">1</td>
    <td class="savethestudent">8</td>
    <td class="border">6411</td>

    <td class="organic">287</td>
    <td class="ucas">882</td>
    <td class="facebook">6</td>
    <td class="moneymagpie">4</td>
    <td class="savethestudent">50</td>
    <td class="border">1229</td>

    <td class="organic">58</td>
    <td class="ucas">9</td>
    <td class="facebook">2</td>
    <td class="moneymagpie">0</td>
    <td class="savethestudent">26</td>
    <td class="border">95</td>

  <td class="organic">787</td>
  <td class="ucas">7344</td>
  <td class="facebook">61</td>
  <td class="moneymagpie">9</td>
  <td class="savethestudent">150</td>
  <td class="border">8351</td>


  </tr>

  <tr>

    <td class="stick">Febuary 2019</td>

    <td class="organic">113</td>
    <td class="ucas">104</td>
    <td class="facebook">17</td>
    <td class="moneymagpie">5</td>
    <td class="savethestudent">53</td>
    <td class="border">292</td>

    <td  class="organic">141</td>
    <td class="ucas">2011</td>
    <td class="facebook">0</td>
    <td class="moneymagpie">1</td>
    <td class="savethestudent">10</td>
    <td class="border">2163</td>

    <td class="organic">264</td>
    <td class="ucas">402</td>
    <td class="facebook">3</td>
    <td class="moneymagpie">1</td>
    <td class="savethestudent">58</td>
    <td class="border">728</td>

    <td class="organic">30</td>
    <td class="ucas">2</td>
    <td class="facebook">0</td>
    <td class="moneymagpie">1</td>
    <td class="savethestudent">4</td>
    <td class="border">37</td>

  <td class="organic">553</td>
  <td class="ucas">2519</td>
  <td class="facebook">21</td>
  <td class="moneymagpie">6</td>
  <td class="savethestudent">151</td>
  <td class="border">3250</td>


  </tr>
<tr>
  <td class="stick">March 2019</td>

  <td class="organic">264</td>
  <td  class="ucas">2014</td>
  <td class="facebook">63</td>
  <td class="moneymagpie">7</td>
  <td class="savethestudent">66</td>
  <td class="border">2414</td>

  <td class="organic">103</td>
  <td class="ucas">85</td>
  <td class="facebook">4</td>
  <td class="moneymagpie">1</td>
  <td class="savethestudent">12</td>
  <td class="border">205</td>

  <td class="organic">335</td>
  <td class="ucas">29</td>
  <td class="facebook">27</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">61</td>
  <td class="border">452</td>

  <td class="organic">75</td>
  <td class="ucas">1</td>
  <td class="facebook">3</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">23</td>
  <td class="border">102</td>

<td class="organic">777</td>
<td class="ucas">2129</td>
<td class="facebook">97</td>
<td class="moneymagpie">8</td>
<td class="savethestudent">162</td>
<td class="border">3173</td>


</tr>

<tr>
  <td class="stick">April 2019</td>

  <td  class="organic">279</td>
  <td  class="ucas">2133</td>
  <td class="facebook">82</td>
  <td class="moneymagpie">0</td>
  <td  class="savethestudent">0</td>
  <td class="border">2494</td>

  <td class="organic">46</td>
  <td  class="ucas">45</td>
  <td class="facebook">1</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">0</td>
  <td class="border">92</td>

  <td class="organic">203</td>
  <td class="ucas">35</td>
  <td class="facebook">4</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">0</td>
  <td class="border">242</td>

  <td class="organic">47</td>
  <td class="ucas">0</td>
  <td class="facebook">1</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">0</td>
  <td class="border">48</td>

<td class="organic">575</td>
<td class="ucas">2213</td>
<td class="facebook">88</td>
<td class="moneymagpie">0</td>
<td class="savethestudent">0</td>
<td class="border">2876</td>


</tr>

<tr>
  <td class="stick">May 2019</td>

  <td  class="organic">154</td>
  <td class="ucas">321</td>
  <td class="facebook">53</td>
  <td class="moneymagpie">5</td>
  <td class="savethestudent">58</td>
  <td class="border">591</td>

  <td class="organic">40</td>
  <td class="ucas">15</td>
  <td class="facebook">0</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">11</td>
  <td class="border">66</td>

  <td class="organic">194</td>
  <td class="ucas">15</td>
  <td class="facebook">2</td>
  <td class="moneymagpie">2</td>
  <td class="savethestudent">25</td>
  <td class="border">238</td>

  <td class="organic">52</td>
  <td class="ucas">0</td>
  <td class="facebook">0</td>
  <td class="moneymagpie">0</td>
  <td class="savethestudent">15</td>
  <td class="border">67</td>

<td class="organic">440</td>
<td class="ucas">351</td>
<td class="facebook">55</td>
<td class="moneymagpie">7</td>
<td class="savethestudent">109</td>
<td class="border">962</td>


</tr>









  <% total_month_keys.each do |import| %>
    <tr>
      <td class="stick"><%= "#{import.month}-01".to_date.strftime('%B %Y') %></td>

        <% youth_row = @monthly_youths[import] %>
        <td class="organic"><%= youth_row.select {|object| object.organic?}.size %></td>
        <td  class="ucas"><%= youth_row.select {|object| object.ucas?}.size %></td>
        <td class="facebook"><%= youth_row.select {|object| object.facebook?}.size %></td>
        <td class="moneymagpie"><%= youth_row.select {|object| object.money_magpie?}.size %></td>
        <td class="savethestudent"><%= youth_row.select {|object| object.save_the_student?}.size %></td>
        <td class="border"><%= youth_row.size %></td>


        <% applicants_row = @monthly_applicants[import] %>
        <td class="organic"><%= applicants_row.select {|object| object.organic?}.size %></td>
        <td  class="ucas"><%= applicants_row.select {|object| object.ucas?}.size %></td>
        <td class="facebook"><%= applicants_row.select {|object| object.facebook?}.size %></td>
        <td class="moneymagpie"><%= applicants_row.select {|object| object.money_magpie?}.size %></td>
        <td class="savethestudent"><%= applicants_row.select {|object| object.save_the_student?}.size %></td>
        <td class="border"><%= applicants_row.size %></td>


        <% students_row = @monthly_students[import] %>
        <td class="organic"><%= students_row.select {|object| object.organic?}.size %></td>
        <td  class="ucas"><%= students_row.select {|object| object.ucas?}.size %></td>
        <td class="facebook"><%= students_row.select {|object| object.facebook?}.size %></td>
        <td class="moneymagpie"><%= students_row.select {|object| object.money_magpie?}.size %></td>
        <td class="savethestudent"><%= students_row.select {|object| object.save_the_student?}.size %></td>
        <td class="border"><%= students_row.size %></td>


        <% graduates_row = @monthly_graduates[import] %>
        <td class="organic"><%= graduates_row.select {|object| object.organic?}.size %></td>
        <td  class="ucas"><%= graduates_row.select {|object| object.ucas?}.size %></td>
        <td class="facebook"><%= graduates_row.select {|object| object.facebook?}.size %></td>
        <td class="moneymagpie"><%= graduates_row.select {|object| object.money_magpie?}.size %></td>
        <td class="savethestudent"><%= graduates_row.select {|object| object.save_the_student?}.size %></td>
        <td class="border"><%= graduates_row.size %></td>

      <% total_monthly_data = @monthly_raw_recruitment[import] %>
      <td class="organic"><%= total_monthly_data.select {|object| object.organic?}.size %></td>
      <td  class="ucas"><%= total_monthly_data.select {|object| object.ucas?}.size %></td>
      <td class="facebook"><%= total_monthly_data.select {|object| object.facebook?}.size %></td>
      <td class="moneymagpie"><%= total_monthly_data.select {|object| object.money_magpie?}.size %></td>
      <td class="savethestudent"><%= total_monthly_data.select {|object| object.save_the_student?}.size %></td>
      <td class="border"><%= total_monthly_data.size %></td>
    </tr>
  <% end %>
  <tr>
    <td class="stick">June 2019</td>

    <td class="organic">253</td>
    <td class="ucas">1694</td>
    <td class="facebook">55</td>
    <td class="moneymagpie">2</td>
    <td class="savethestudent">61</td>
    <td class="border">2072</td>

    <td class ="organic">43</td>
    <td class ="ucas">70</td>
    <td class ="facebook">0</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">12</td>
    <td class ="border">128</td>

    <td class ="organic">208</td>
    <td class ="ucas">25</td>
    <td class ="facebook">5</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">63</td>
    <td class ="border">302</td>

    <td class ="organic">50</td>
    <td class ="ucas">1</td>
    <td class ="facebook">1</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">22</td>
    <td class ="border">74</td>

  <td class ="organic">1014</td>
  <td class ="ucas">2290</td>
  <td class ="facebook">292</td>
  <td class ="moneymagpie">8</td>
  <td class ="savethestudent">226</td>
  <td class ="border">4580</td>


  </tr>
  <tr>
    <td class="stick">July 2019</td>

    <td class="organic">228</td>
    <td class="ucas">645</td>
    <td class="facebook">69</td>
    <td class="moneymagpie">7</td>
    <td class="savethestudent">71</td>
    <td class="border">1036</td>

    <td class ="organic">45</td>
    <td class ="ucas">44</td>
    <td class ="facebook">2</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">14</td>
    <td class ="border">114</td>

    <td class ="organic">164</td>
    <td class ="ucas">26</td>
    <td class ="facebook">4</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">42</td>
    <td class ="border">243</td>

    <td class ="organic">109</td>
    <td class ="ucas">1</td>
    <td class ="facebook">1</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">45</td>
    <td class ="border">156</td>

  <td class ="organic">1043</td>
  <td class ="ucas">1230</td>
  <td class ="facebook">437</td>
  <td class ="moneymagpie">14</td>
  <td class ="savethestudent">258</td>
  <td class ="border">3042</td>


  </tr>

  <tr>
    <td class="stick">August 2019</td>

    <td class="organic">207</td>
    <td class="ucas">22</td>
    <td class="facebook">66</td>
    <td class="moneymagpie">15</td>
    <td class="savethestudent">45</td>
    <td class="border">356</td>

    <td class ="organic">17</td>
    <td class ="ucas">21</td>
    <td class ="facebook">0</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">4</td>
    <td class ="border">42</td>

    <td class ="organic">306</td>
    <td class ="ucas">2144</td>
    <td class ="facebook">9</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">67</td>
    <td class ="border">2534</td>

    <td class ="organic">43</td>
    <td class ="ucas">0</td>
    <td class ="facebook">4</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">31</td>
    <td class ="border">78</td>

  <td class ="organic">1027</td>
  <td class ="ucas">3462</td>
  <td class ="facebook">410</td>
  <td class ="moneymagpie">29</td>
  <td class ="savethestudent">227</td>
  <td class ="border">5172</td>


  </tr>


  <tr>
    <td class="stick">September 2019</td>

    <td class="organic">290</td>
    <td class="ucas">449</td>
    <td class="facebook">91</td>
    <td class="moneymagpie">6</td>
    <td class="savethestudent">43</td>
    <td class="border">891</td>

    <td class ="organic">43</td>
    <td class ="ucas">268</td>
    <td class ="facebook">2</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">1</td>
    <td class ="border">314</td>

    <td class ="organic">597</td>
    <td class ="ucas">8621</td>
    <td class ="facebook">9</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">43</td>
    <td class ="border">9280</td>

    <td class ="organic">71</td>
    <td class ="ucas">0</td>
    <td class ="facebook">1</td>
    <td class ="moneymagpie">3</td>
    <td class ="savethestudent">20</td>
    <td class ="border">95</td>

  <td class ="organic">1725</td>
  <td class ="ucas">14794</td>
  <td class ="facebook">701</td>
  <td class ="moneymagpie">21</td>
  <td class ="savethestudent">162</td>
  <td class ="border">17511</td>


  </tr>

  <tr>
    <td class="stick">October 2019</td>

    <td class="organic">195</td>
    <td class="ucas">247</td>
    <td class="facebook">619</td>
    <td class="moneymagpie">13</td>
    <td class="savethestudent">42</td>
    <td class="border">1132</td>

    <td class ="organic">144</td>
    <td class ="ucas">3383</td>
    <td class ="facebook">14</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">3</td>
    <td class ="border">3562</td>

    <td class ="organic">422</td>
    <td class ="ucas">4388</td>
    <td class ="facebook">109</td>
    <td class ="moneymagpie">1</td>
    <td class ="savethestudent">51</td>
    <td class ="border">5013</td>

    <td class ="organic">72</td>
    <td class ="ucas">16</td>
    <td class ="facebook">21</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">20</td>
    <td class ="border">132</td>

  <td class ="organic">1442</td>
  <td class ="ucas">12730</td>
  <td class ="facebook">3378</td>
  <td class ="moneymagpie">28</td>
  <td class ="savethestudent">190</td>
  <td class ="border">17974</td>


  </tr>



  <tr>
    <td class="stick">November 2019</td>

    <td class="organic">287</td>
    <td class="ucas">1395</td>
    <td class="facebook">1282</td>
    <td class="moneymagpie">7</td>
    <td class="savethestudent">28</td>
    <td class="border">3590</td>

    <td class ="organic">187</td>
    <td class ="ucas">4426</td>
    <td class ="facebook">216</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">11</td>
    <td class ="border">4840</td>

    <td class ="organic">487</td>
    <td class ="ucas">320</td>
    <td class ="facebook">2220</td>
    <td class ="moneymagpie">1</td>
    <td class ="savethestudent">53</td>
    <td class ="border">3081</td>

    <td class ="organic">74</td>
    <td class ="ucas">13</td>
    <td class ="facebook">207</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">14</td>
    <td class ="border">750</td>

  <td class ="organic">1035</td>
  <td class ="ucas">6154</td>
  <td class ="facebook">3925</td>
  <td class ="moneymagpie">10</td>
  <td class ="savethestudent">106</td>
  <td class ="border">11320</td>


  </tr>

  <tr>
    <td class="stick">December 2019</td>

    <td class="organic">77</td>
    <td class="ucas">428</td>
    <td class="facebook">242</td>
    <td class="moneymagpie">2</td>
    <td class="savethestudent">17</td>
    <td class="border">766</td>

    <td class ="organic">99</td>
    <td class ="ucas">3164</td>
    <td class ="facebook">41</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">5</td>
    <td class ="border">3309</td>

    <td class ="organic">168</td>
    <td class ="ucas">171</td>
    <td class ="facebook">327</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">19</td>
    <td class ="border">‭685‬</td>

    <td class ="organic">20</td>
    <td class ="ucas">12</td>
    <td class ="facebook">11</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">5</td>
    <td class ="border">48</td>

  <td class ="organic">364</td>
  <td class ="ucas">3775</td>
  <td class ="facebook">‭621‬</td>
  <td class ="moneymagpie">2</td>
  <td class ="savethestudent">106</td>
  <td class ="border">4808‬</td>

  </tr>

  <tr>
    <td class="stick">January 2020</td>

    <td class="organic">11</td>
    <td class="ucas">203</td>
    <td class="facebook">40</td>
    <td class="moneymagpie">5</td>
    <td class="savethestudent">50</td>
    <td class="border">309</td>

    <td class ="organic">5</td>
    <td class ="ucas">131</td>
    <td class ="facebook">0</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">5</td>
    <td class ="border">141</td>

    <td class ="organic">409</td>
    <td class ="ucas">976</td>
    <td class ="facebook">175</td>
    <td class ="moneymagpie">3</td>
    <td class ="savethestudent">44</td>
    <td class ="border">1607</td>

    <td class ="organic">20</td>
    <td class ="ucas">12</td>
    <td class ="facebook">11</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">13</td>
    <td class ="border">58</td>

  <td class ="organic">445</td>
  <td class ="ucas">1322</td>
  <td class ="facebook">226</td>
  <td class ="moneymagpie">20</td>
  <td class ="savethestudent">112</td>
  <td class ="border">2135</td>

  </tr>


  <tr>
    <td class="stick">Febuary 2020</td>

    <td class="organic">176</td>
    <td class="ucas">31</td>
    <td class="facebook">334</td>
    <td class="moneymagpie">8</td>
    <td class="savethestudent">39</td>
    <td class="border">588</td>

    <td class ="organic">1</td>
    <td class ="ucas">14</td>
    <td class ="facebook">41</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">0</td>
    <td class ="border">58</td>

    <td class ="organic">560</td>
    <td class ="ucas">353</td>
    <td class ="facebook">747</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">54</td>
    <td class ="border">1764</td>

    <td class ="organic">46</td>
    <td class ="ucas">5</td>
    <td class ="facebook">5</td>
    <td class ="moneymagpie">2</td>
    <td class ="savethestudent">11</td>
    <td class ="border">69</td>

  <td class ="organic">983</td>
  <td class ="ucas">683</td>
  <td class ="facebook">1327</td>
  <td class ="moneymagpie">14</td>
  <td class ="savethestudent">104</td>
  <td class ="border">3111</td>

  </tr>

  <tr>
    <td class="stick">March 2020</td>

    <td class="organic">269</td>
    <td class="ucas">1814</td>
    <td class="facebook">760</td>
    <td class="moneymagpie">11</td>
    <td class="savethestudent">37</td>
    <td class="border">2891</td>

    <td class ="organic">75</td>
    <td class ="ucas">134</td>
    <td class ="facebook">27</td>
    <td class ="moneymagpie">1</td>
    <td class ="savethestudent">6</td>
    <td class ="border">243</td>

    <td class ="organic">498</td>
    <td class ="ucas">223</td>
    <td class ="facebook">224</td>
    <td class ="moneymagpie">6</td>
    <td class ="savethestudent">54</td>
    <td class ="border">1005</td>

    <td class ="organic">33</td>
    <td class ="ucas">1</td>
    <td class ="facebook">3</td>
    <td class ="moneymagpie">0</td>
    <td class ="savethestudent">4</td>
    <td class ="border">41</td>

  <td class ="organic">875</td>
  <td class ="ucas">2172</td>
  <td class ="facebook">1014</td>
  <td class ="moneymagpie">18</td>
  <td class ="savethestudent">101</td>
  <td class ="border">4180</td>

  </tr>



</table>

<h2>Students Matrix</h2>

<table style="width:75%">
  <tr>
    <th></th>

      <th colspan="3">1st Year Students</th>

      <th colspan="3">2nd Year Students</th>


      <th colspan="3">3rd Year + Students</th>

  </tr>
  <tr style="border-bottom: 1px solid #000000;">
    <td>Course year</td>

      <td>Male</td>
      <td>Female</td>
      <td>Other</td>

      <td>Male</td>
      <td>Female</td>
      <td>Other</td>

      <td>Male</td>
      <td>Female</td>
      <td>Other</td>


  </tr>

  <tr>

    <td>January 2020</td>

    <td class="male">447</td>
    <td class="female">857</td>
    <td class="other">8</td>

    <td class="male">66</td>
    <td class="female">138</td>
    <td class="other">0</td>

    <td class="male">58</td>
    <td class="female">84</td>
    <td class="other">0</td>
</tr>

<tr>

  <td>Febuary 2020</td>

  <td class="male">332</td>
  <td class="female">902</td>
  <td class="other">8</td>

  <td class="male">127</td>
  <td class="female">269</td>
  <td class="other">0</td>

  <td class="male">95</td>
  <td class="female">156</td>
  <td class="other">3</td>
</tr>

<tr>

  <td>March 2020</td>

  <td class="male">178</td>
  <td class="female">354</td>
  <td class="other">5</td>

  <td class="male">120</td>
  <td class="female">146</td>
  <td class="other">2</td>

  <td class="male">105</td>
  <td class="female">119</td>
  <td class="other">1</td>
</tr>

</table>
