<table style="width:100%">
  <!--  headers row-->
  <tr>
    <th></th>

      <th colspan="6">Youths</th>

      <th colspan="6">Applicants</th>


      <th colspan="6">Students</th>


      <th colspan="6">Graduates</th>

    <th colspan="6">Total</th>
  </tr>
  <!--  row for month-->
  <tr>
    <td>Source</td>

      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>Total</td>

    <td>Organic</td>
    <td>UCAS</td>
    <td>Facebook</td>
    <td>Money Magpie</td>
    <td>Save The Student</td>
    <td>Total</td>
  </tr>

  <% total_month_keys = @monthly_raw_recruitment.keys %>
  <% youths = @raw_recruitment.youths %>
  <% applicants = @raw_recruitment.applicants %>
  <% students = @raw_recruitment.students %>
  <% graduates = @raw_recruitment.graduates %>
  <% organic_raw_recruitment_count = @raw_recruitment.organic.size %>
  <% ucas_raw_recruitment_count = @raw_recruitment.ucas.size %>
  <% facebook_raw_recruitment_count = @raw_recruitment.facebook.size %>
  <% money_magpie_raw_recruitment_count = @raw_recruitment.money_magpie.size %>
  <% save_the_student_raw_recruitment_count = @raw_recruitment.save_the_student.size %>
  <% raw_recruitment_count = @raw_recruitment.size %>

    <% organic_youth_count = youths.organic.size %>
    <% ucas_youth_count = youths.ucas.size %>
    <% facebook_youth_count = youths.facebook.size %>
    <% money_magpie_youth_count = youths.money_magpie.size %>
    <% save_the_student_youth_count = youths.save_the_student.size %>
    <% youth_count = youths.size %>



    <% organic_applicants_count = applicants.organic.size %>
    <% ucas_applicants_count = applicants.ucas.size %>
    <% facebook_applicants_count = applicants.facebook.size %>
    <% money_magpie_applicants_count = applicants.money_magpie.size %>
    <% save_the_student_applicants_count = applicants.save_the_student.size %>
    <% applicants_count = applicants.size %>

    <% aplicants_count = applicants.size %>

    <% organic_students_count = students.organic.size %>
    <% ucas_students_count = students.ucas.size %>
    <% facebook_students_count = students.facebook.size %>
    <% money_magpie_students_count = students.money_magpie.size %>
    <% save_the_student_students_count = students.save_the_student.size %>
    <% students_count = students.size %>



    <% organic_graduates_count = graduates.organic.size %>
    <% ucas_graduates_count = graduates.ucas.size %>
    <% facebook_graduates_count = graduates.facebook.size %>
    <% money_magpie_graduates_count = graduates.money_magpie.size %>
    <% save_the_student_graduates_count = graduates.save_the_student.size %>
    <% graduates_count = graduates.size %>



  <!--  raw monthly data-->

  <tr>

    <td>January 2019</td>

    <td class="organic">166</td>
    <td class="youth">327</td>
    <td class="youth">53</td>
    <td class="youth">4</td>
    <td class="youth">66</td>
    <td class="youth">616</td>

    <td class="organic">276</td>
    <td>6126</td>
    <td>0</td>
    <td>1</td>
    <td>8</td>
    <td>6411</td>

    <td class="organic">287</td>
    <td>882</td>
    <td>6</td>
    <td>4</td>
    <td>50</td>
    <td>1229</td>

    <td class="organic">58</td>
    <td>9</td>
    <td>2</td>
    <td>0</td>
    <td>26</td>
    <td>95</td>

  <td>787</td>
  <td>7344</td>
  <td>61</td>
  <td>9</td>
  <td>150</td>
  <td>8351</td>


  </tr>

  <tr>

    <td>Febuary 2019</td>

    <td class="organic">113</td>
    <td class="youth">104</td>
    <td class="youth">17</td>
    <td class="youth">5</td>
    <td class="youth">53</td>
    <td class="youth">292</td>

    <td  class="organic">141</td>
    <td>2011</td>
    <td>0</td>
    <td>1</td>
    <td>10</td>
    <td>2163</td>

    <td class="organic">264</td>
    <td>402</td>
    <td>3</td>
    <td>1</td>
    <td>58</td>
    <td>728</td>

    <td class="organic">30</td>
    <td>2</td>
    <td>0</td>
    <td>1</td>
    <td>4</td>
    <td>37</td>

  <td>553</td>
  <td>2519</td>
  <td>21</td>
  <td>6</td>
  <td>151</td>
  <td>3250</td>


  </tr>
<tr>
  <td>March 2019</td>

  <td class="organic">264</td>
  <td class="youth">2014</td>
  <td class="youth">63</td>
  <td class="youth">7</td>
  <td class="youth">66</td>
  <td class="youth">2414</td>

  <td class="organic">103</td>
  <td>85</td>
  <td>4</td>
  <td>1</td>
  <td>12</td>
  <td>205</td>

  <td class="organic">335</td>
  <td>29</td>
  <td>27</td>
  <td>0</td>
  <td>61</td>
  <td>452</td>

  <td class="organic">75</td>
  <td>1</td>
  <td>3</td>
  <td>0</td>
  <td>23</td>
  <td>102</td>

<td class="organic">777</td>
<td>2129</td>
<td>97</td>
<td>8</td>
<td>162</td>
<td>3173</td>


</tr>

<tr>
  <td>April 2019</td>

  <td  class="organic">279</td>
  <td class="youth">2133</td>
  <td class="youth">82</td>
  <td class="youth">0</td>
  <td class="youth">0</td>
  <td class="youth">2494</td>

  <td class="organic">46</td>
  <td >45</td>
  <td>1</td>
  <td>0</td>
  <td>0</td>
  <td>92</td>

  <td class="organic">203</td>
  <td>35</td>
  <td>4</td>
  <td>0</td>
  <td>0</td>
  <td>242</td>

  <td class="organic">47</td>
  <td>0</td>
  <td>1</td>
  <td>0</td>
  <td>0</td>
  <td>48</td>

<td>575</td>
<td>2213</td>
<td>88</td>
<td>0</td>
<td>0</td>
<td>2876</td>


</tr>

<tr>
  <td>May 2019</td>

  <td  class="organic">154</td>
  <td class="youth">321</td>
  <td class="youth">53</td>
  <td class="youth">5</td>
  <td class="youth">58</td>
  <td class="youth">591</td>

  <td class="organic">40</td>
  <td>15</td>
  <td>0</td>
  <td>0</td>
  <td>11</td>
  <td>66</td>

  <td class="organic">194</td>
  <td>15</td>
  <td>2</td>
  <td>2</td>
  <td>25</td>
  <td>238</td>

  <td class="organic">52</td>
  <td>0</td>
  <td>0</td>
  <td>0</td>
  <td>15</td>
  <td>67</td>

<td class="organic">440</td>
<td>351</td>
<td>55</td>
<td>7</td>
<td>109</td>
<td>962</td>


</tr>









  <% total_month_keys.each do |import| %>
    <tr>
      <td><%= "#{import.month}-01".to_date.strftime('%B %Y') %></td>

        <% youth_row = @monthly_youths[import] %>
        <td class="organic"><%= youth_row.select {|object| object.organic?}.size %></td>
        <td class="youth"><%= youth_row.select {|object| object.ucas?}.size %></td>
        <td class="youth"><%= youth_row.select {|object| object.facebook?}.size %></td>
        <td class="youth"><%= youth_row.select {|object| object.money_magpie?}.size %></td>
        <td class="youth"><%= youth_row.select {|object| object.save_the_student?}.size %></td>
        <td class="youth"><%= youth_row.size %></td>


        <% applicants_row = @monthly_applicants[import] %>
        <td class="organic"><%= applicants_row.select {|object| object.organic?}.size %></td>
        <td class="applicant"><%= applicants_row.select {|object| object.ucas?}.size %></td>
        <td class="applicant"><%= applicants_row.select {|object| object.facebook?}.size %></td>
        <td class="applicant"><%= applicants_row.select {|object| object.money_magpie?}.size %></td>
        <td class="applicant"><%= applicants_row.select {|object| object.save_the_student?}.size %></td>
        <td class="applicant"><%= applicants_row.size %></td>


        <% students_row = @monthly_students[import] %>
        <td class="organic"><%= students_row.select {|object| object.organic?}.size %></td>
        <td  class="student"><%= students_row.select {|object| object.ucas?}.size %></td>
        <td class="student"><%= students_row.select {|object| object.facebook?}.size %></td>
        <td class="student"><%= students_row.select {|object| object.money_magpie?}.size %></td>
        <td class="student"><%= students_row.select {|object| object.save_the_student?}.size %></td>
        <td class="student"><%= students_row.size %></td>


        <% graduates_row = @monthly_graduates[import] %>
        <td class="organic"><%= graduates_row.select {|object| object.organic?}.size %></td>
        <td class="graduate"><%= graduates_row.select {|object| object.ucas?}.size %></td>
        <td class="graduate"><%= graduates_row.select {|object| object.facebook?}.size %></td>
        <td class="graduate"><%= graduates_row.select {|object| object.money_magpie?}.size %></td>
        <td class="graduate"><%= graduates_row.select {|object| object.save_the_student?}.size %></td>
        <td class="graduate"><%= graduates_row.size %></td>

      <% total_monthly_data = @monthly_raw_recruitment[import] %>
      <td class="total"><%= total_monthly_data.select {|object| object.organic?}.size %></td>
      <td class="total"><%= total_monthly_data.select {|object| object.ucas?}.size %></td>
      <td class="total"><%= total_monthly_data.select {|object| object.facebook?}.size %></td>
      <td class="total"><%= total_monthly_data.select {|object| object.money_magpie?}.size %></td>
      <td class="total"><%= total_monthly_data.select {|object| object.save_the_student?}.size %></td>
      <td class="total"><%= total_monthly_data.size %></td>
    </tr>
  <% end %>


  <tr>
    <td>September 2019</td>

    <td class="organic">290</td>
    <td class="youth">449</td>
    <td class="youth">91</td>
    <td class="youth">6</td>
    <td class="youth">43</td>
    <td class="youth">891</td>

    <td class ="organic">43</td>
    <td class ="applicant">268</td>
    <td class ="applicant">2</td>
    <td class ="applicant">0</td>
    <td class ="applicant">1</td>
    <td class ="applicant">314</td>

    <td class ="organic">597</td>
    <td class ="student">8621</td>
    <td class ="student">9</td>
    <td class ="student">0</td>
    <td class ="student">43</td>
    <td class ="student">9280</td>

    <td class ="organic">71</td>
    <td class ="graduate">0</td>
    <td class ="graduate">1</td>
    <td class ="graduate">3</td>
    <td class ="graduate">20</td>
    <td class ="graduate">95</td>

  <td class ="total">1725</td>
  <td class ="total">14794</td>
  <td class ="total">701</td>
  <td class ="total">21</td>
  <td class ="total">162</td>
  <td class ="total">17511</td>


  </tr>

  <tr>
    <td>October 2019</td>

    <td class="organic">195</td>
    <td class="youth">247</td>
    <td class="youth">619</td>
    <td class="youth">13</td>
    <td class="youth">42</td>
    <td class="youth">1132</td>

    <td class ="organic">144</td>
    <td class ="applicant">3383</td>
    <td class ="applicant">14</td>
    <td class ="applicant">0</td>
    <td class ="applicant">3</td>
    <td class ="applicant">3562</td>

    <td class ="organic">422</td>
    <td class ="student">4388</td>
    <td class ="student">109</td>
    <td class ="student">1</td>
    <td class ="student">51</td>
    <td class ="student">5013</td>

    <td class ="organic">72</td>
    <td class ="graduate">16</td>
    <td class ="graduate">21</td>
    <td class ="graduate">2</td>
    <td class ="graduate">20</td>
    <td class ="graduate">132</td>

  <td class ="total">1442</td>
  <td class ="total">12730</td>
  <td class ="total">3378</td>
  <td class ="total">28</td>
  <td class ="total">190</td>
  <td class ="total">17974</td>


  </tr>



  <tr>
    <td>November 2019</td>

    <td class="organic">287</td>
    <td class="youth">1395</td>
    <td class="youth">1282</td>
    <td class="youth">7</td>
    <td class="youth">28</td>
    <td class="youth">3590</td>

    <td class ="organic">187</td>
    <td class ="applicant">4426</td>
    <td class ="applicant">216</td>
    <td class ="applicant">0</td>
    <td class ="applicant">11</td>
    <td class ="applicant">4840</td>

    <td class ="organic">487</td>
    <td class ="student">320</td>
    <td class ="student">2220</td>
    <td class ="student">1</td>
    <td class ="student">53</td>
    <td class ="student">3081</td>

    <td class ="organic">74</td>
    <td class ="graduate">13</td>
    <td class ="graduate">207</td>
    <td class ="graduate">2</td>
    <td class ="graduate">14</td>
    <td class ="graduate">750</td>

  <td class ="total">1035</td>
  <td class ="total">6154</td>
  <td class ="total">3925</td>
  <td class ="total">10</td>
  <td class ="total">106</td>
  <td class ="total">11320</td>


  </tr>

  <tr>
    <td>December 2019</td>

    <td class="organic">77</td>
    <td class="youth">428</td>
    <td class="youth">242</td>
    <td class="youth">2</td>
    <td class="youth">17</td>
    <td class="youth">766</td>

    <td class ="organic">99</td>
    <td class ="applicant">3164</td>
    <td class ="applicant">41</td>
    <td class ="applicant">0</td>
    <td class ="applicant">5</td>
    <td class ="applicant">3309</td>

    <td class ="organic">168</td>
    <td class ="student">171</td>
    <td class ="student">327</td>
    <td class ="student">0</td>
    <td class ="student">19</td>
    <td class ="student">‭685‬</td>

    <td class ="organic">20</td>
    <td class ="graduate">12</td>
    <td class ="graduate">11</td>
    <td class ="graduate">0</td>
    <td class ="graduate">5</td>
    <td class ="graduate">48</td>

  <td class ="total">364</td>
  <td class ="total">3775</td>
  <td class ="total">‭621‬</td>
  <td class ="total">2</td>
  <td class ="total">106</td>
  <td class ="total">4808‬</td>

  </tr>

  <tr>
    <td>January 2020</td>

    <td class="organic">11</td>
    <td class="youth">203</td>
    <td class="youth">40</td>
    <td class="youth">5</td>
    <td class="youth">50</td>
    <td class="youth">309</td>

    <td class ="organic">5</td>
    <td class ="applicant">131</td>
    <td class ="applicant">0</td>
    <td class ="applicant">0</td>
    <td class ="applicant">5</td>
    <td class ="applicant">141</td>

    <td class ="organic">409</td>
    <td class ="student">976</td>
    <td class ="student">175</td>
    <td class ="student">3</td>
    <td class ="student">44</td>
    <td class ="student">1607</td>

    <td class ="organic">20</td>
    <td class ="graduate">12</td>
    <td class ="graduate">11</td>
    <td class ="graduate">2</td>
    <td class ="graduate">13</td>
    <td class ="graduate">58</td>

  <td class ="total">445</td>
  <td class ="total">1322</td>
  <td class ="total">226</td>
  <td class ="total">20</td>
  <td class ="total">112</td>
  <td class ="total">2135</td>

  </tr>


  <tr>
    <td>Febuary 2020</td>

    <td class="organic">176</td>
    <td class="youth">31</td>
    <td class="youth">334</td>
    <td class="youth">8</td>
    <td class="youth">39</td>
    <td class="youth">588</td>

    <td class ="organic">1</td>
    <td class ="applicant">14</td>
    <td class ="applicant">41</td>
    <td class ="applicant">2</td>
    <td class ="applicant">0</td>
    <td class ="applicant">58</td>

    <td class ="organic">560</td>
    <td class ="student">353</td>
    <td class ="student">747</td>
    <td class ="student">2</td>
    <td class ="student">54</td>
    <td class ="student">1764</td>

    <td class ="organic">46</td>
    <td class ="graduate">5</td>
    <td class ="graduate">5</td>
    <td class ="graduate">2</td>
    <td class ="graduate">11</td>
    <td class ="graduate">69</td>

  <td class ="total">983</td>
  <td class ="total">683</td>
  <td class ="total">1327</td>
  <td class ="total">14</td>
  <td class ="total">104</td>
  <td class ="total">3111</td>

  </tr>

  <tr>
    <td>March 2020</td>

    <td class="organic">269</td>
    <td class="youth">1814</td>
    <td class="youth">760</td>
    <td class="youth">11</td>
    <td class="youth">37</td>
    <td class="youth">2891</td>

    <td class ="organic">75</td>
    <td class ="applicant">134</td>
    <td class ="applicant">27</td>
    <td class ="applicant">1</td>
    <td class ="applicant">6</td>
    <td class ="applicant">243</td>

    <td class ="organic">498</td>
    <td class ="student">223</td>
    <td class ="student">224</td>
    <td class ="student">6</td>
    <td class ="student">54</td>
    <td class ="student">1005</td>

    <td class ="organic">33</td>
    <td class ="graduate">1</td>
    <td class ="graduate">3</td>
    <td class ="graduate">0</td>
    <td class ="graduate">4</td>
    <td class ="graduate">41</td>

  <td class ="total">875</td>
  <td class ="total">2172</td>
  <td class ="total">1014</td>
  <td class ="total">18</td>
  <td class ="total">101</td>
  <td class ="total">4180</td>

  </tr>



</table>
