<table style="width:100%">
  <!--  headers row-->
  <tr>
    <th></th>

      <th colspan="6">Youths</th>

      <th colspan="6">Applicants</th>


      <th colspan="6">Students</th>


      <th colspan="6">Graduates</th>

    <th colspan="6">Total</th>
  </tr>
  <!--  row for month-->
  <tr>
    <td>Source</td>

      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>Total</td>

    <td>Organic</td>
    <td>UCAS</td>
    <td>Facebook</td>
    <td>Money Magpie</td>
    <td>Save The Student</td>
    <td>Total</td>
  </tr>

  <% total_month_keys = @monthly_raw_recruitment.keys %>
  <% youths = @raw_recruitment.youths %>
  <% applicants = @raw_recruitment.applicants %>
  <% students = @raw_recruitment.students %>
  <% graduates = @raw_recruitment.graduates %>
  <% organic_raw_recruitment_count = @raw_recruitment.organic.size %>
  <% ucas_raw_recruitment_count = @raw_recruitment.ucas.size %>
  <% facebook_raw_recruitment_count = @raw_recruitment.facebook.size %>
  <% money_magpie_raw_recruitment_count = @raw_recruitment.money_magpie.size %>
  <% save_the_student_raw_recruitment_count = @raw_recruitment.save_the_student.size %>
  <% raw_recruitment_count = @raw_recruitment.size %>

    <% organic_youth_count = youths.organic.size %>
    <% ucas_youth_count = youths.ucas.size %>
    <% facebook_youth_count = youths.facebook.size %>
    <% money_magpie_youth_count = youths.money_magpie.size %>
    <% save_the_student_youth_count = youths.save_the_student.size %>
    <% youth_count = youths.size %>



    <% organic_applicants_count = applicants.organic.size %>
    <% ucas_applicants_count = applicants.ucas.size %>
    <% facebook_applicants_count = applicants.facebook.size %>
    <% money_magpie_applicants_count = applicants.money_magpie.size %>
    <% save_the_student_applicants_count = applicants.save_the_student.size %>
    <% applicants_count = applicants.size %>



    <% organic_students_count = students.organic.size %>
    <% ucas_students_count = students.ucas.size %>
    <% facebook_students_count = students.facebook.size %>
    <% money_magpie_students_count = students.money_magpie.size %>
    <% save_the_student_students_count = students.save_the_student.size %>
    <% students_count = students.size %>



    <% organic_graduates_count = graduates.organic.size %>
    <% ucas_graduates_count = graduates.ucas.size %>
    <% facebook_graduates_count = graduates.facebook.size %>
    <% money_magpie_graduates_count = graduates.money_magpie.size %>
    <% save_the_student_graduates_count = graduates.save_the_student.size %>
    <% graduates_count = graduates.size %>


  <!--  row for total-->
  <tr>
    <td>TOTAL</td>

      <td><%= organic_youth_count %></td>
      <td><%= ucas_youth_count %></td>
      <td><%= facebook_youth_count %></td>
      <td><%= money_magpie_youth_count %></td>
      <td><%= save_the_student_youth_count %></td>
      <td><%= youth_count %></td>


      <td><%= organic_applicants_count %></td>
      <td><%= ucas_applicants_count %></td>
      <td><%= facebook_applicants_count %></td>
      <td><%= money_magpie_applicants_count %></td>
      <td><%= save_the_student_applicants_count %></td>
      <td><%= applicants_count %></td>


      <td><%= organic_students_count %></td>
      <td><%= ucas_students_count %></td>
      <td><%= facebook_students_count %></td>
      <td><%= money_magpie_students_count %></td>
      <td><%= save_the_student_students_count %></td>
      <td><%= students_count %></td>


      <td><%= organic_graduates_count %></td>
      <td><%= ucas_graduates_count %></td>
      <td><%= facebook_graduates_count %></td>
      <td><%= money_magpie_graduates_count %></td>
      <td><%= save_the_student_graduates_count %></td>
      <td><%= graduates_count %></td>

    <td><%= organic_raw_recruitment_count %></td>
    <td><%= ucas_raw_recruitment_count %></td>
    <td><%= facebook_raw_recruitment_count %></td>
    <td><%= money_magpie_raw_recruitment_count %></td>
    <td><%= save_the_student_raw_recruitment_count %></td>
    <td><%= raw_recruitment_count %></td>
  </tr>
  <!--  row for average-->
  <tr>
    <% total_months = total_month_keys.size %>

      <td>AVERAGE</td>


      <td><%= (organic_youth_count / total_months).to_i %></td>
      <td><%= (ucas_youth_count / total_months).to_i %></td>
      <td><%= (facebook_youth_count / total_months).to_i %></td>
      <td><%= (money_magpie_youth_count / total_months).to_i %></td>
      <td><%= (save_the_student_youth_count / total_months).to_i %></td>
      <td><%= (youth_count / total_months).to_i %></td>


      <td><%= (organic_applicants_count / total_months).to_i %></td>
      <td><%= (ucas_applicants_count / total_months).to_i %></td>
      <td><%= (facebook_applicants_count / total_months).to_i %></td>
      <td><%= (money_magpie_applicants_count / total_months).to_i %></td>
      <td><%= (save_the_student_applicants_count / total_months).to_i %></td>
      <td><%= (applicants_count / total_months).to_i %></td>


      <td><%= (organic_students_count / total_months).to_i %></td>
      <td><%= (ucas_students_count / total_months).to_i %></td>
      <td><%= (facebook_students_count / total_months).to_i %></td>
      <td><%= (money_magpie_students_count / total_months).to_i %></td>
      <td><%= (save_the_student_students_count / total_months).to_i %></td>
      <td><%= (students_count / total_months).to_i %></td>

      <td><%= (organic_graduates_count / total_months).to_i %></td>
      <td><%= (ucas_graduates_count / total_months).to_i %></td>
      <td><%= (facebook_graduates_count / total_months).to_i %></td>
      <td><%= (money_magpie_graduates_count / total_months).to_i %></td>
      <td><%= (save_the_student_graduates_count / total_months).to_i %></td>
      <td><%= (graduates_count / total_months).to_i %></td>

    <% unless total_months.zero? %>
      <td><%= (organic_raw_recruitment_count / total_months).to_i %></td>
      <td><%= (ucas_raw_recruitment_count / total_months).to_i %></td>
      <td><%= (facebook_raw_recruitment_count / total_months).to_i %></td>
      <td><%= (money_magpie_raw_recruitment_count / total_months).to_i %></td>
      <td><%= (save_the_student_raw_recruitment_count / total_months).to_i %></td>
      <td><%= (raw_recruitment_count / total_months).to_i %></td>
    <% end %>
  </tr>

  <!--  raw monthly data-->

  <tr>

    <td>January 2019</td>


    <td>166</td>
    <td>327</td>
    <td>53</td>
    <td>4</td>
    <td>66</td>
    <td>616</td>



    <td>276</td>
    <td>6126</td>
    <td>0</td>
    <td>1</td>
    <td>8</td>
    <td>6411</td>



    <td>287</td>
    <td>882</td>
    <td>6</td>
    <td>4</td>
    <td>50</td>
    <td>1229</td>



    <td>58</td>
    <td>9</td>
    <td>2</td>
    <td>0</td>
    <td>26</td>
    <td>95</td>


  <td>787</td>
  <td>7344</td>
  <td>61</td>
  <td>9</td>
  <td>150</td>
  <td>8351</td>


  </tr>

  <% total_month_keys.each do |import| %>
    <tr>
      <td><%= "#{import.month}-01".to_date.strftime('%B %Y') %></td>

        <% youth_row = @monthly_youths[import] %>
        <td><%= youth_row.select {|object| object.organic?}.size %></td>
        <td><%= youth_row.select {|object| object.ucas?}.size %></td>
        <td><%= youth_row.select {|object| object.facebook?}.size %></td>
        <td><%= youth_row.select {|object| object.money_magpie?}.size %></td>
        <td><%= youth_row.select {|object| object.save_the_student?}.size %></td>
        <td><%= youth_row.size %></td>


        <% applicants_row = @monthly_applicants[import] %>
        <td><%= applicants_row.select {|object| object.organic?}.size %></td>
        <td><%= applicants_row.select {|object| object.ucas?}.size %></td>
        <td><%= applicants_row.select {|object| object.facebook?}.size %></td>
        <td><%= applicants_row.select {|object| object.money_magpie?}.size %></td>
        <td><%= applicants_row.select {|object| object.save_the_student?}.size %></td>
        <td><%= applicants_row.size %></td>


        <% students_row = @monthly_students[import] %>
        <td><%= students_row.select {|object| object.organic?}.size %></td>
        <td><%= students_row.select {|object| object.ucas?}.size %></td>
        <td><%= students_row.select {|object| object.facebook?}.size %></td>
        <td><%= students_row.select {|object| object.money_magpie?}.size %></td>
        <td><%= students_row.select {|object| object.save_the_student?}.size %></td>
        <td><%= students_row.size %></td>


        <% graduates_row = @monthly_graduates[import] %>
        <td><%= graduates_row.select {|object| object.organic?}.size %></td>
        <td><%= graduates_row.select {|object| object.ucas?}.size %></td>
        <td><%= graduates_row.select {|object| object.facebook?}.size %></td>
        <td><%= graduates_row.select {|object| object.money_magpie?}.size %></td>
        <td><%= graduates_row.select {|object| object.save_the_student?}.size %></td>
        <td><%= graduates_row.size %></td>

      <% total_monthly_data = @monthly_raw_recruitment[import] %>
      <td><%= total_monthly_data.select {|object| object.organic?}.size %></td>
      <td><%= total_monthly_data.select {|object| object.ucas?}.size %></td>
      <td><%= total_monthly_data.select {|object| object.facebook?}.size %></td>
      <td><%= total_monthly_data.select {|object| object.money_magpie?}.size %></td>
      <td><%= total_monthly_data.select {|object| object.save_the_student?}.size %></td>
      <td><%= total_monthly_data.size %></td>
    </tr>
  <% end %>

</table>
